.ui.header > .image:not(.icon),
.ui.header > img {
	min-width: 0 !important;
}
.mat-menu-item .mat-icon {
	margin-bottom: 6px !important;
}

.mrk-button-sidenav {
	position: fixed;
	z-index: 1;
	top: 6em;
	width: 34px !important;
	// height: 48px !important;
	// padding-left: 0.5em !important;
}
.mrk-menu-account-left {
	position: fixed !important;
	top: 8em !important;
	left: 5em !important;
	padding: 0 !important;
	min-width: 244px !important;
}
.mrk-menu-account-bottom {
	position: fixed !important;
	top: 14em !important;
	left: 1em !important;
	padding: 0 !important;
	width: 244px !important;
}
