<button
	class="ui right icon small button mrk-button-sidenav"
	[ngClass]="{ 'sidenav-animation': sizeSidenav }"
	[ngStyle]="{
		left: sizeSidenav ? '19.5em' : '4.75em'
	}"
	(click)="onChangeSizeSidenav()"
>
	<i class="angle {{ sizeSidenav ? 'left' : 'right' }} icon"></i>
</button>

<div layout="column" layout-fill flex>
	<div class="size-height-24"></div>

	<div layout="row" layout-align="center center">
		<h4 class="ui inverted header" style="margin: 0">
			<img src="assets/images/1737822_2.png" class="ui circular image" style="margin: 0" [ngStyle]="{ 'font-size': sizeSidenav ? '18px' : '16px' }" />
			<div [fxShow]="sizeSidenav" class="content" style="margin-top: -0.25em; max-width: 124px">
				<span>WIM</span>
			</div>
		</h4>
	</div>

	<div [ngClass]="{ 'size-height-40': sizeSidenav, 'size-height-50': !sizeSidenav }"></div>

	<div layout="row" layout-align="start center">
		<mat-nav-list class="sidenav-menu-account" flex style="padding-bottom: 0.75em">
			<a
				mat-list-item
				[ngClass]="{ 'mrk-list-item-account': sizeSidenav }"
				[matTooltip]="'Twoje konto' | translate"
				matTooltipPosition="after"
				style="height: 80px !important"
			>
				<div class="ui left floating dropdown dropdown-account">
					<mat-icon matListAvatar style="margin-right: 0; margin-bottom: 0; opacity: 1; width: 64px; height: 64px">
						<ngx-avatar
							*ngIf="userLogged?.photo; else elseBlock"
							class="ui image"
							[size]="sizeSidenav ? 64 : 40"
							cornerRadius="10"
							[round]="false"
							[src]="userLogged?.photo"
						></ngx-avatar>
						<ng-template #elseBlock>
							<ngx-avatar
								class="ui image"
								name="{{ userLogged?.fullName ? userLogged?.fullName : userLogged?.email }}"
								[size]="sizeSidenav ? 64 : 40"
								cornerRadius="10"
								[round]="false"
							></ngx-avatar>
						</ng-template>
					</mat-icon>

					<div class="ui menu menu-account" [ngClass]="{ 'mrk-menu-account-left': !sizeSidenav, 'mrk-menu-account-bottom': sizeSidenav }">
						<div class="header mrk-settings">
							<h4 class="ui inverted header">
								<ngx-avatar
									*ngIf="userLogged?.photo; else elseBlock"
									class="ui image"
									size="48"
									cornerRadius="10"
									[round]="false"
									[src]="userLogged?.photo"
								></ngx-avatar>
								<ng-template #elseBlock>
									<ngx-avatar
										class="ui image"
										name="{{ userLogged?.fullName ? userLogged?.fullName : userLoggedf?.email }}"
										size="48"
										cornerRadius="10"
										[round]="false"
									></ngx-avatar>
								</ng-template>
								<div class="content" style="padding-left: 1.5em">
									<span>{{ userLogged?.fullName ? userLogged?.fullName : userLogged?.email }}</span>
									<div class="sub header">{{ userLogged?.email }}</div>
								</div>
							</h4>
						</div>
						<a class="item" (click)="profile('data')">
							<i class="settings icon"></i>
							<span translate>Ustawienia konta</span>
						</a>
						<a class="item" (click)="profile('password')">
							<i class="edit icon"></i>
							<span translate>Zmiana hasła</span>
						</a>
						<div class="divider"></div>
						<div class="item" (click)="problem()">
							<i class="bug icon"></i>
							<span translate>Zgłoś problem</span>
						</div>
						<div class="divider"></div>
						<a class="item" (click)="lock()">
							<i class="user lock icon"></i>
							<span translate>Zablokuj</span>
						</a>
						<a class="item" (click)="logout()">
							<i class="grid sign out alternate icon"></i>
							<span translate>Wyloguj</span>
						</a>
					</div>
				</div>
			</a>
		</mat-nav-list>
	</div>

	<div [fxShow]="sizeSidenav" layout="column" layout-align="center center">
		<h4 class="ui center aligned inverted header">
			<div class="content">
				<span>{{ userLogged?.fullName ? userLogged?.fullName : userLogged?.email }}</span>
			</div>
		</h4>

		<div layout="row" layout-align="center center" class="mrk-options">
			<button class="ui circular icon button" [matTooltip]="'Wyszukaj' | translate" matTooltipPosition="below">
				<i class="search icon"></i>
			</button>
			<!-- <button class="ui circular icon button" (click)="onChangeUnlockSidenav()">
				<i class="{{ unlockSidenav ? 'unlock' : 'lock' }} icon"></i>
			</button> -->
			<button class="ui circular icon button" (click)="lock()" [matTooltip]="'Zablokuj' | translate" matTooltipPosition="below">
				<i class="user lock icon"></i>
			</button>
			<button
				class="ui circular icon button"
				(click)="onChangeDark()"
				[matTooltip]="dark ? 'Ciemny motyw' : ('Jasny motyw' | translate)"
				matTooltipPosition="below"
			>
				<i class="{{ dark ? 'black moon' : 'tc-yellow-400 sun' }} icon"></i>
			</button>
			<button
				class="ui circular icon button"
				(click)="setSelected(dashboardType.NOTIFICATIONS)"
				[matTooltip]="'Powiadomienia' | translate"
				matTooltipPosition="below"
			>
				<i class="bell outline icon"></i>
				<div class="floating ui red circular small label mrk-label">22</div>
			</button>
		</div>
	</div>

	<div class="size-height-24"></div>

	<div layout="row" layout-align="start start" flex>
		<mat-nav-list class="sidenav-menu" flex>
			<ng-template ngFor let-dashboard let-last="last" [ngForOf]="dashboards | wfilter: [{ field: 'favourite', value: 'show' }] | slice: 0:5">
				<ng-container *ngIf="!dashboard.subdashboards; else elseContainer">
					<a
						*ngxPermissionsOnly="dashboard.permissionsOnly"
						mat-list-item
						[matTooltip]="dashboard.toolTip | translate"
						[matTooltipPosition]="'after'"
						[class.selected]="selected?.type === dashboard?.type"
						(click)="setSelected(dashboard.type)"
					>
						<mat-icon matListAvatar [ngClass]="dashboard.colorClass">
							<span [ngClass]="dashboard.iconClass"></span>
						</mat-icon>
						<span *ngIf="dashboard.notifications" class="floating ui circular red label">{{ dashboard.notifications.count }}</span>

						<span *ngIf="sizeSidenav" style="text-align: left" translate>{{ dashboard.name }}</span>
					</a>
				</ng-container>

				<ng-template #elseContainer>
					<a
						*ngxPermissionsOnly="dashboard.permissionsOnly"
						mat-list-item
						[class.selected]="checkSelected(selected?.type, dashboard?.type)"
						[matMenuTriggerFor]="menuTrigger"
						[matTooltip]="dashboard.toolTip | translate"
						[matTooltipPosition]="'after'"
					>
						<mat-icon matListAvatar [ngClass]="dashboard.colorClass">
							<span class="mdi {{ dashboard.iconClass }} {{ dashboard.colorClass }}"></span>
						</mat-icon>

						<span *ngIf="sizeSidenav" style="text-align: left" translate>{{ dashboard.name }}</span>
					</a>

					<mat-menu #menuTrigger="matMenu" class="sidenav-submenu submenu-left" [overlapTrigger]="true" yPosition="below" xPosition="after">
						<ng-template ngFor let-subdashboard let-last="last" [ngForOf]="dashboard.subdashboards">
							<button
								*ngxPermissionsOnly="subdashboard.permissionsOnly"
								mat-menu-item
								[class.selected]="selected?.type === subdashboard?.type"
								(click)="setSelected(subdashboard.type)"
							>
								<div layout="row" layout-align="start center">
									<mat-icon class="mdi {{ subdashboard.iconClass }} {{ subdashboard.colorClass }} mdi-24px"></mat-icon>
									<span class="size-width-6"></span>
									<span translate>{{ subdashboard.name }}</span>
								</div>
							</button>
						</ng-template>
					</mat-menu>
				</ng-template>
			</ng-template>

			<a
				mat-list-item
				[class.selected]="checkFavourite(selected?.type)"
				[matMenuTriggerFor]="menuTrigger"
				[matTooltip]="'Więcej' | translate"
				[matTooltipPosition]="'after'"
			>
				<mat-icon matListAvatar>
					<span class="mdi mdi-dots-horizontal"></span>
				</mat-icon>

				<span *ngIf="sizeSidenav" style="text-align: left" translate>Więcej</span>
			</a>

			<mat-menu #menuTrigger="matMenu" class="sidenav-submenu submenu-left" [overlapTrigger]="true" yPosition="below" xPosition="before">
				<div style="overflow-y: auto; max-height: 340px">
					<ng-template ngFor let-dashboard let-last="last" [ngForOf]="dashboards | wfilter: [{ field: 'favourite', value: 'hide' }]">
						<ng-container *ngIf="!dashboard.subdashboards; else elseContainer">
							<button mat-menu-item [class.selected]="selected?.type === dashboard?.type" (click)="setSelected(dashboard?.type)">
								<div layout="row" layout-align="start center">
									<mat-icon
										class="mdi {{ dashboard.iconClass }} {{ dashboard.colorClass }} mdi-24px"
										style="margin-bottom: 0.25em"
									></mat-icon>
									<span class="size-width-6"></span>
									<span translate>{{ dashboard.name }}</span>
								</div>
							</button>
						</ng-container>

						<ng-template #elseContainer>
							<button mat-menu-item [class.selected]="checkSelected(selected?.type, dashboard?.type)" [matMenuTriggerFor]="subMenuTrigger">
								<div layout="row" layout-align="start center">
									<mat-icon
										class="mdi {{ dashboard.iconClass }} {{ dashboard.colorClass }} mdi-24px"
										style="margin-bottom: 0.25em"
									></mat-icon>
									<span class="size-width-6"></span>
									<span translate>{{ dashboard.name }}</span>
								</div>
							</button>

							<mat-menu #subMenuTrigger="matMenu" class="sidenav-submenu" [overlapTrigger]="true" yPosition="below" xPosition="before">
								<ng-template ngFor let-subdashboard let-last="last" [ngForOf]="dashboard.subdashboards">
									<button mat-menu-item [class.selected]="selected?.type === subdashboard?.type" (click)="setSelected(subdashboard?.type)">
										<div layout="row" layout-align="start center">
											<mat-icon
												class="mdi {{ subdashboard.iconClass }} {{ subdashboard.colorClass }} mdi-24px"
												style="margin-bottom: 0.25em"
											></mat-icon>
											<span class="size-width-6"></span>
											<span translate>{{ subdashboard.name }}</span>
										</div>
									</button>
								</ng-template>
							</mat-menu>
						</ng-template>
					</ng-template>
				</div>

				<button mat-menu-item (click)="modalChangelog()">
					<div layout="row" layout-align="start center">
						<mat-icon class="mdi mdi-code-tags"> </mat-icon>
						<span class="size-width-6"></span>
						<span translate>Changelog</span>
					</div>
				</button>

				<div class="ui divider" style="margin: 0.5rem 0" [hidden]="(dashboards | wfilter: [{ field: 'favourite', value: 'hide' }]).length < 1"></div>

				<button mat-menu-item (click)="modalSettingsMenu()">
					<div layout="row" layout-align="start center">
						<mat-icon class="mdi mdi-cog-outline mdi-24px" style="margin-bottom: 0.25em"></mat-icon>
						<span class="size-width-6"></span>
						<span translate>Dostosuj menu</span>
					</div>
				</button>

				<div class="ui divider" style="margin: 0.5rem 0"></div>

				<button mat-menu-item (click)="modalManageDashboards()">
					<div layout="row" layout-align="start center">
						<mat-icon class="mdi mdi-application-cog mdi-24px" style="margin-bottom: 0.25em"></mat-icon>
						<span class="size-width-6"></span>
						<span translate>Zarządzaj panelami</span>
					</div>
				</button>
			</mat-menu>
		</mat-nav-list>
	</div>

	<div class="size-height-12"></div>
</div>
