<div class="ui basic segment segment-header">
	<h3 id="step-account" class="ui header">
		<div class="content">
			<span translate>Filtrowanie</span>
			<div class="sub header" translate>Definiowanie filtrów komponentu.</div>
		</div>
	</h3>
</div>

<div *ngIf="filters.length" class="ui basic segment segment-header" style="margin-top: 0">
	<mat-chip-list [multiple]="true">
		<mat-chip
			*ngFor="let filter of filters"
			[selected]="filter.filter.logicValue"
			[matTooltip]="getFilterTooltip(filter)"
			(click)="!editColumn ? onClickFilter(filter) : null"
			color="accent"
		>
			<mat-icon (click)="onEditFilter(filter)" class="mat-chip-edit" matChipRemove>edit</mat-icon>
			<span class="pad-left-sm pad-right-sm" translate>{{ filter.display }}</span>
			<mat-icon *ngIf="!editColumn" (click)="onRemoveFilter(filter.filter)" matChipRemove>cancel</mat-icon>
		</mat-chip>
	</mat-chip-list>
</div>

<div class="ui basic segment segment-content">
	<div [formGroup]="filtersFormGroup" class="ui column middle aligned equal width centered grid">
		<div class="sixteen wide column">
			<div class="ui fluid input">
				<div class="ui normal selection fluid dropdown dropdown-columns" style="z-index: 1">
					<input type="hidden" name="columns" />
					<i class="dropdown icon"></i>
					<div class="default text" translate>Wybierz kolumnę</div>
					<div class="menu">
						<ng-template ngFor let-column let-last="last" [ngForOf]="columns">
							<div class="item" [attr.data-value]="column.definition.alias">
								<span translate>{{ column.display }}</span>
							</div>
						</ng-template>
					</div>
				</div>

				<div *ngIf="selectedControl?.value?.definition" class="pad-sm"></div>

				<ng-container *ngIf="selectedControl?.value?.definition as definition">
					<ng-container [ngSwitch]="definition.filter.type">
						<!-- Text -->
						<ng-container *ngSwitchCase="filterType.TEXT">
							<div class="ui fluid input" style="width: 100%">
								<input
									[formControlName]="definition.alias"
									[name]="definition.alias"
									(input)="selectedValueChanged($event.target.value, definition.alias)"
									type="text"
									[placeholder]="'Wprowadź' | translate"
									style="border-radius: 0"
								/>
							</div>
						</ng-container>
					</ng-container>
				</ng-container>

				<div class="pad-sm"></div>

				<button
					type="button"
					class="ui icon button"
					(click)="onUpdateFilter()"
					[matTooltip]="(!editColumn ? 'Dodaj' : 'Aktualizuj') | translate"
					[matTooltipPosition]="'after'"
					[disabled]="isFormDisabled()"
					style="border-radius: 10px"
				>
					<i class="{{ !editColumn ? 'add' : 'pencil' }} icon"></i>
					<!-- <span translate>{{ !editColumn ? 'Dodaj' : 'Aktualizuj' }}</span> -->
				</button>
				<button
					*ngIf="editColumn"
					type="button"
					class="ui icon red button"
					(click)="onUpdateCancel()"
					[matTooltip]="'Anuluj' | translate"
					[matTooltipPosition]="'after'"
					style="border-radius: 10px"
				>
					<i class="cancel icon"></i>
					<!-- <span translate>Anuluj</span> -->
				</button>
			</div>
		</div>
	</div>
</div>
