<ng-container [ngSwitch]="layout">
	<app-start-page-minimal *ngSwitchCase="'minimal'">
		<ng-container *ngTemplateOutlet="template" content></ng-container>
	</app-start-page-minimal>
	<app-start-page-compact *ngSwitchCase="'compact'">
		<ng-container *ngTemplateOutlet="template" content></ng-container>
	</app-start-page-compact>

	<app-start-page-full *ngSwitchDefault>
		<ng-container *ngTemplateOutlet="template" content></ng-container>
	</app-start-page-full>
</ng-container>

<ng-template #template>
	<div class="ui basic">
		<form class="ui medium form form-login" onsubmit="return false;">
			<div class="ui basic">
				<h1 class="ui header">
					<div class="content">
						<span translate>Ekran blokady</span>
						<div class="sub header">
							<span class="pad-left-xs" translate>dostęp do konta zablokowany</span>
						</div>

						<div class="mrk-header-line"></div>
					</div>
				</h1>

				<div class="size-height-24"></div>

				<div layout="column" layout-align="center center">
					<ngx-avatar size="96" cornerRadius="10" [round]="false" [src]="userLogged?.photo"></ngx-avatar>

					<span class="size-height-12"></span>
					<span style="font-weight: bold; font-size: 14px">{{ userLogged?.fullName }}</span>
				</div>

				<div class="size-height-24"></div>

				<div class="field required">
					<label translate>login.form.password</label>
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input name="password" [(ngModel)]="password" placeholder="{{ 'Hasło' | translate }}" type="password" />
					</div>
				</div>

				<div class="size-height-12"></div>

				<button type="submit" class="ui fluid primary button" (click)="unlock()" style="box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1)">
					<span translate>Odblokuj</span>
				</button>

				<div class="ui error message"></div>

				<div class="size-height-12"></div>
			</div>
		</form>

		<div class="ui basic left aligned" style="padding-top: 0"></div>
	</div>
</ng-template>
