.modal-connect-remote-desktop {
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
	border: none !important;
	border-radius: 0 !important;
}
