<!-- zarządzanie użytkownikiem -->
<div class="ui top aligned fullscreen modal modal-connect-remote-desktop mrk-modal">
	<!-- loading -->
	<div class="ui basic" style="position: absolute; top: 35px; width: 100%">
		<div *tdLoading="'remoteDesktopSyntax'; type: 'linear'; mode: 'indeterminate'; color: 'primary'"></div>
	</div>

	<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>

	<!-- guacamole -->
	<ngx-mremote-desktop [service]="service" tdFileDrop (fileDrop)="fileDrop($event)" multiple (click)="onClick($event)">
		<!-- toolbar items -->
		<ngx-mremote-desktop-toolbar-item align="left" (click)="enterFullScreen()" *ngIf="!service.isFullScreen() && service.isConnected()">
			<i class="compress icon"></i>
			<span>Pełny ekran</span>
		</ngx-mremote-desktop-toolbar-item>
		<ngx-mremote-desktop-toolbar-item align="left" (click)="exitFullScreen()" *ngIf="service.isFullScreen() && service.isConnected()">
			<i class="undo icon"></i>
			<span>Powrót do okna</span>
		</ngx-mremote-desktop-toolbar-item>
		<ngx-mremote-desktop-toolbar-item align="left" *ngIf="service.isConnected()" (click)="screenshot()">
			<i class="image outline icon"></i>
			<span>Zrzut ekranu</span>
		</ngx-mremote-desktop-toolbar-item>

		<ngx-mremote-desktop-toolbar-item align="left" (click)="exitDisplayScale()" *ngIf="service.isDisplayScale() && service.isConnected()">
			<span>Dopasuj obraz</span>
		</ngx-mremote-desktop-toolbar-item>
		<ngx-mremote-desktop-toolbar-item align="left" (click)="enterDisplayScale()" *ngIf="!service.isDisplayScale() && service.isConnected()">
			<span>Wyłącz dopasowanie</span>
		</ngx-mremote-desktop-toolbar-item>
		<!-- <ngx-mremote-desktop-toolbar-item align="left" *ngIf="service.isConnected()" (click)="clipboard()">
            <i class="clipboard outline icon"></i>
            <span>Schowek</span>
        </ngx-mremote-desktop-toolbar-item> -->

		<ngx-mremote-desktop-toolbar-item align="right">
			<i
				class="circle small icon"
				[ngClass]="{
					orange: service.isState('CONNECTING') || service.isState('DICONNECTING'),
					red:
						service.isState('DISCONNECTED') ||
						service.isState('REMOTE_USER_DID_NOT_ALLOW') ||
						service.isState('REMOTE_USER_NOT_ACTIVE') ||
						service.isState('CLIENT_UNAUTHORIZED') ||
						service.isState('CLIENT_FORBIDDEN') ||
						service.isState('CLIENT_ERROR') ||
						service.isState('TUNNEL_ERROR'),
					green: service.isState('CONNECTED')
				}"
				style="margin-bottom: 0.25em"
			></i>
			<span>{{ service.getState() }}</span>
		</ngx-mremote-desktop-toolbar-item>

		<ngx-mremote-desktop-toolbar-item *ngIf="service.isConnected()" (click)="disconnect()" align="right">
			<i class="close icon"></i>
			<span>Rozłącz</span>
		</ngx-mremote-desktop-toolbar-item>
		<ngx-mremote-desktop-toolbar-item
			align="right"
			*ngIf="
				!isManualDisconnect &&
				(service.isState('DISCONNECTED') ||
					service.isState('REMOTE_USER_DID_NOT_ALLOW') ||
					service.isState('REMOTE_USER_NOT_ACTIVE') ||
					service.isState('CLIENT_UNAUTHORIZED') ||
					service.isState('CLIENT_FORBIDDEN') ||
					service.isState('CLIENT_ERROR') ||
					service.isState('TUNNEL_ERROR')) &&
				!service.isConnected()
			"
			(click)="close()"
		>
			<i class="sign out alternate icon"></i>
			<span>Zamknij</span>
		</ngx-mremote-desktop-toolbar-item>

		<!-- status bar -->
		<!-- <ngx-mremote-desktop-status-bar *ngIf="service.isConnected()">
            <ngx-mremote-desktop-status-bar-item>
                <span><span class="text-upper">[{{data.protocol}}]</span> [{{data.hostname}}]</span>
            </ngx-mremote-desktop-status-bar-item>
        </ngx-mremote-desktop-status-bar> -->
	</ngx-mremote-desktop>
</div>
