<ng-container [ngSwitch]="layout">
	<app-start-page-minimal *ngSwitchCase="'minimal'">
		<ng-container *ngTemplateOutlet="template" content></ng-container>
	</app-start-page-minimal>
	<app-start-page-compact *ngSwitchCase="'compact'">
		<ng-container *ngTemplateOutlet="template" content></ng-container>
	</app-start-page-compact>

	<app-start-page-full *ngSwitchDefault>
		<ng-container *ngTemplateOutlet="template" content></ng-container>
	</app-start-page-full>
</ng-container>

<ng-template #template>
	<div content class="ui basic segment">
		<div class="ui top left attached red label">error</div>

		<div class="size-height-12"></div>

		<p>
			<span class="ui large red text" translate>{{ error?.type }}</span>
		</p>
		<span class="ui text" translate>{{ error?.message }}</span>
	</div>
</ng-template>
