<div class="ui basic segment" (resized)="onResized($event)" style="padding-bottom: 0.25em; height: 100%">
	<div echarts [options]="chart.options" [merge]="chart.update" (chartInit)="onChartInit(chart, $event)" style="height: 100%"></div>
</div>
