<ng-template
	#openDayEventsTemplate
	let-events="events"
	let-eventClicked="eventClicked"
	let-isOpen="isOpen"
	let-trackByEventId="trackByEventId"
	let-validateDrag="validateDrag"
>
	<div class="cal-open-day-events" *ngIf="isOpen" role="application">
		<span tabindex="-1" role="alert" [attr.aria-label]="{ date: date, locale: locale } | calendarA11y: 'openDayEventsAlert'"></span>
		<span tabindex="0" role="landmark" [attr.aria-label]="{ date: date, locale: locale } | calendarA11y: 'openDayEventsLandmark'"></span>

		<div
			*ngFor="let event of events; trackBy: trackByEventId"
			mwlDraggable
			dragActiveClass="cal-drag-active"
			[ngClass]="event?.cssClass"
			[class.cal-draggable]="event.draggable"
			[dropData]="{ event: event }"
			[dragAxis]="{ x: event.draggable, y: event.draggable }"
			[validateDrag]="validateDrag"
			style="display: flex; padding: 0.25em 0.1em; width: fit-content"
		>
			<span
				class="cal-event"
				[ngStyle]="{ backgroundColor: event.color?.primary }"
				style="margin-top: 5px; width: 10px; border: none; border-radius: 10px; box-shadow: none"
			></span>

			<mwl-calendar-event-title
				[event]="event"
				[customTemplate]="eventTitleTemplate"
				(mwlClick)="eventClicked.emit({ event: event, sourceEvent: $event })"
				(mwlKeydownEnter)="eventClicked.emit({ event: event, sourceEvent: $event })"
				view="month"
				tabindex="0"
				style="margin: 0.25em"
				[attr.aria-label]="{ event: event, locale: locale } | calendarA11y: 'eventDescription'"
			>
			</mwl-calendar-event-title>

			<!-- <mwl-calendar-event-actions [event]="event" [customTemplate]="eventActionsTemplate"></mwl-calendar-event-actions> -->
		</div>
	</div>
</ng-template>

<ng-template
	#cellTemplate
	let-day="day"
	let-openDay="openDay"
	let-locale="locale"
	let-highlightDay="highlightDay"
	let-unhighlightDay="unhighlightDay"
	let-eventClicked="eventClicked"
	let-trackByEventId="trackByEventId"
	let-validateDrag="validateDrag"
>
	<div class="cal-cell-top" [attr.aria-label]="{ day: day, locale: locale } | calendarA11y: 'monthCell'">
		<span aria-hidden="true">
			<span class="cal-day-badge" *ngIf="day.badgeTotal > 0" matTooltip="{{ 'Liczba zdarzeń' | translate }}" [matTooltipPosition]="'above'">{{
				day.badgeTotal
			}}</span>
			<span class="cal-day-number">{{ day.date | calendarDate: 'monthViewDayNumber':locale }}</span>
		</span>
	</div>

	<div class="cal-events" *ngIf="day.events.length > 0">
		<div
			class="cal-event"
			*ngFor="let event of day.events | slice: 0:4; trackBy: trackByEventId"
			[ngStyle]="{ backgroundColor: event.color?.primary }"
			[ngClass]="event?.cssClass"
			(mouseenter)="highlightDay.emit({ event: event })"
			(mouseleave)="unhighlightDay.emit({ event: event })"
			mwlDraggable
			[class.cal-draggable]="event.draggable"
			dragActiveClass="cal-drag-active"
			[dropData]="{ event: event, draggedFrom: day }"
			[dragAxis]="{ x: event.draggable, y: event.draggable }"
			[validateDrag]="validateDrag"
			(mwlClick)="eventClicked.emit({ event: event, sourceEvent: $event })"
			[attr.aria-hidden]="{} | calendarA11y: 'hideMonthCellEvents'"
		></div>
	</div>
</ng-template>

<ng-template #eventTitleTemplate let-event="event" let-view="view">
	<span class="cal-event-title">
		<span *ngIf="!event.allDay; else templateAllDay">{{ event.start | date: 'HH:mm' }}</span>
		<ng-template #templateAllDay>
			<span>{{ event.start | date: 'yyyy-MM-dd HH:mm' }} - {{ event.end | date: 'yyyy-MM-dd HH:mm' }}</span>
		</ng-template>
		<span [attr.aria-hidden]="{} | calendarA11y: 'hideEventTitle'">
			{{ event.title | calendarEventTitle: view:event }}
		</span>
	</span>
</ng-template>

<div class="ui basic segment" style="padding: 0 1em">
	<mwl-calendar-month-view
		content
		[viewDate]="viewDate"
		[events]="events"
		[locale]="locale"
		[refresh]="refresh"
		[activeDayIsOpen]="activeDayIsOpen"
		[openDayEventsTemplate]="openDayEventsTemplate"
		[cellTemplate]="cellTemplate"
		(dayClicked)="dayClicked($event.day)"
		(eventClicked)="handleEvent('Clicked', $event.event)"
		(eventTimesChanged)="eventTimesChanged($event)"
	>
	</mwl-calendar-month-view>
</div>
