<!-- aktywne powiązania komponentu -->
<div class="ui placeholder segment segment-pair">
	<h4 class="ui center aligned header">
		<span>Dane powiązania komponentu</span>
	</h4>
	<div class="ui middle aligned divided selection list">
		<div class="item" style="padding: 1em 0.5em; cursor: default">
			<div class="content">
				<div class="description">{{ message | json }}</div>
			</div>
		</div>
	</div>
</div>
