.ui.selection.list > .item:last-child {
	box-shadow: unset !important;
}

.sidebar-pair {
	margin: 2em !important;
	min-height: 12rem !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	border-left: 0;
	border-right: 0;
}
