<!-- loading -->
<div *ngIf="loading" id="loading" class="mrk-loading" [ngStyle]="{ 'z-index': getToolbar ? 'unset' : '3' }">
	<div class="ui grid">
		<div class="sixteen wide column">
			<div *tdLoading="'listSyntax'; type: 'linear'; mode: 'indeterminate'; color: 'primary'"></div>
		</div>
	</div>
</div>

<td-layout #layout [mode]="'side'" [opened]="getLoggedIn && getToolbar" [sidenavWidth]="sizeSidenav ? '272px' : '80px'" [containerAutosize]="true">
	<!-- toolbar -->
	<div *ngIf="!getToolbar" td-toolbar-content class="mrk-toolbar" flex>
		<app-toolbar-menu></app-toolbar-menu>
	</div>

	<!-- sidenav -->
	<div *ngIf="getToolbar" td-sidenav-content class="mrk-sidenav" flex>
		<app-sidenav-menu></app-sidenav-menu>
	</div>

	<!-- ustawienia dashboardu -->
	<div class="mrk-dashboards-toolbar" [ngClass]="{ 'mrk-toolbar-top': !getToolbar }">
		<div class="ui basic segment" style="padding: 0">
			<eco-fab-speed-dial #fab direction="down" animationMode="scale">
				<eco-fab-speed-dial-trigger>
					<button
						mat-fab
						style="box-shadow: unset !important"
						(click)="onFabMenuClick($event)"
						[matTooltip]="(editable ? 'Tryb rozmieszczania komponentów' : 'Opcje') | translate"
						matTooltipPosition="right"
					>
						<mat-icon>{{ fab.open || editable ? 'close' : 'menu' }}</mat-icon>
					</button>
				</eco-fab-speed-dial-trigger>

				<eco-fab-speed-dial-actions>
					<button mat-mini-fab [matTooltip]="'Dodaj komponent' | translate" matTooltipPosition="right" (click)="onAddWidget()">
						<mat-icon class="mdi mdi-plus mdi-24px" style="margin-top: -0.3em"></mat-icon>
					</button>
					<button mat-mini-fab (click)="onChangeEditable()" [matTooltip]="'Tryb rozmieszczania komponentów' | translate" matTooltipPosition="right">
						<mat-icon class="mdi mdi-vector-square mdi-24px" style="margin-top: -0.3em"></mat-icon>
					</button>
					<button mat-mini-fab (click)="onSidebar()" [matTooltip]="'Ustawienia panela' | translate" matTooltipPosition="right">
						<mat-icon class="mdi mdi-application-cog mdi-24px" style="margin-top: -0.3em"></mat-icon>
					</button>
					<button mat-mini-fab (click)="onManageDashboard()" [matTooltip]="'Edytuj panel' | translate" matTooltipPosition="right">
						<mat-icon class="mdi mdi-folder-edit-outline mdi-24px" style="margin-top: -0.3em"></mat-icon>
					</button>
					<button mat-mini-fab (click)="onDeleteDashboard()" [matTooltip]="'Usuń panel' | translate" matTooltipPosition="right">
						<mat-icon class="mdi mdi-trash-can-outline mdi-24px" style="margin-top: -0.3em"></mat-icon>
					</button>
				</eco-fab-speed-dial-actions>
			</eco-fab-speed-dial>
		</div>
	</div>

	<!-- main -->
	<div
		id="main"
		class="mrk-main"
		[ngClass]="{ 'mrk-background-main': getLoggedIn }"
		[ngStyle]="{ height: !getToolbar ? 'calc(100% - 76px)' : 'calc(100% - 0px)' }"
	>
		<!-- sidebar widget -->
		<div class="ui right vertical sidebar menu sidebar-widgets" style="width: 340px; overflow-x: hidden; border: none">
			<app-sidebar-widget></app-sidebar-widget>
		</div>

		<!-- pusher -->
		<div class="pusher" style="height: 100%">
			<!-- header -->
			<app-header id="header" *ngIf="getLoggedIn"></app-header>

			<!-- router -->
			<div id="router" class="mrk-router">
				<app-dashboard></app-dashboard>
			</div>
		</div>
	</div>
</td-layout>
