.mrk-start-page {
	display: grid;
	top: 0;
	left: 0;
	height: 100%;
	min-height: 100vh;
	overflow: unset;
	overflow-x: hidden;
}
.mrk-style {
	margin-bottom: 0;
	padding: 0 2em;
	width: 540px;
}
.mrk-content {
	width: 540px;
}
.mrk-page {
	background: rgba(0, 0, 0, 0.25) !important;
	width: 100% !important;
	border-radius: unset !important;
	border: unset !important;
	box-shadow: unset !important;
	padding-top: 0 !important;
}
.mrk-languages {
	position: fixed;
	width: 100%;
	top: 5%;
	right: 0;
	z-index: 3 !important;

	padding: 0 0 2em 0 !important;

	.dropdown-layouts,
	.dropdown-languages,
	.dropdown-themes {
		box-shadow: 5px 0 50px -5px rgb(0 0 0 / 20%);
		// background: rgba(0 0 0 / 10%) !important;
		// color: rgba(255, 255, 255, 0.7) !important;
		&:hover {
			box-shadow: unset !important;
			color: unset !important;
			// background-color: rgba(0 0 0 / 10%) !important;
		}
	}

	.dropdown-languages {
		span.text {
			span.name {
				display: none !important;
			}
			span.description {
				display: none !important;
			}
		}
	}

	.ui.dropdown > .left.menu .menu {
		margin: 0 !important;
	}
}
.mrk-select-content {
	box-shadow: 5px 0 50px -5px rgb(0 0 0 / 20%);
	height: 100vh;
	border-radius: 10px 0 0 10px;
}
.mrk-select {
	padding: 0em 3em;
}
.mrk-title {
	box-shadow: -25px 0 50px -5px rgb(0 0 0 / 20%);
	border-left: none !important;
}
.mrk-header {
	margin-left: 2em !important;
	margin-right: 1em !important;
}
.mrk-version {
	position: absolute;
	bottom: 10em;
	left: 4em;
	padding: 0 0 1em 1em !important;
}
.mrk-footer {
	position: absolute;
	bottom: 8em;
	left: 4em;
	padding: 1em 0 0 0 !important;

	.ui.tertiary.button {
		color: rgba(255, 255, 255, 0.7) !important;
	}
}
.mrk-wasko {
	width: 144px;
	margin-left: 4em;
	margin-top: 90px;
}
.mrk-line {
	margin: -0.5em -1.5em 0.5em 0;
	border-bottom-width: 0.1em;
	border-bottom-style: solid;
}
@media screen and (min-width: 1280px) {
	.container {
		width: 100% !important;
	}

	.mrk-start-page {
		margin: 0;
	}
	.mrk-title {
		z-index: 3;
	}
	.mrk-select {
		margin-top: 2em;
	}
	.mrk-select-content {
		z-index: 2;
	}
}
@media screen and (max-width: 1280px) and (min-width: 1024px) {
	.container {
		width: 100% !important;
	}

	.mrk-select {
		margin-top: 2em;
	}
	.mrk-header {
		top: 20%;
	}
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
	.container {
		width: 100% !important;
	}

	.mrk-title {
		width: 320px !important;
	}
	.mrk-select-content {
		width: 320px !important;
	}
	.mrk-select {
		margin-top: 2em;
	}

	h1 .content .sub {
		display: none;
	}
}
@media screen and (max-width: 768px) and (min-width: 540px) {
	.container {
		width: unset !important;
		margin: 0 !important;
	}

	.mrk-title {
		display: none !important;
	}
	.mrk-select-content {
		border-radius: 0 !important;
	}
	.mrk-header {
		display: none;
	}
}
@media only screen and (max-width: 540px) {
	.container {
		width: unset !important;
		margin: 0 !important;
	}

	.mrk-title {
		display: none !important;
	}
	.mrk-select {
		margin-top: 2em;
	}
	.mrk-languages {
		width: 416px !important;
	}
	.mrk-style {
		width: 416px !important;
	}
	.mrk-content {
		width: 416px !important;
	}
	.mrk-header {
		display: none;
	}
	.mrk-select-content {
		box-shadow: unset !important;
		border-radius: 0 !important;
	}
	.mrk-languages {
		.dropdown-languages .description,
		.dropdown-languages .name {
			display: none !important;
		}
	}

	h1 .image {
		width: 32px !important;
	}
	h1 .content .sub {
		display: none;
	}
}
