<div class="ui basic segment segment-header">
	<h3 id="step-account" class="ui header">
		<div class="content">
			<span translate>Dane atrybutów</span>
			<div class="sub header" translate>Możliwość konfigurowania atrybutów komponentu.</div>
		</div>
	</h3>
</div>

<div class="ui basic segment segment-content" style="padding: 0">
	<div cdkDropList (cdkDropListDropped)="onDrop($event)" class="ui middle aligned divided selection list">
		<ng-template ngFor let-column let-last="last" [ngForOf]="columns">
			<div cdkDrag cdkDragBoundary=".ui.list.item" cdkDragLockAxis="y" class="item" style="padding: 1em 0.5em; cursor: default">
				<div class="right floated content">
					<button
						class="ui icon {{ column.column.logicValue === true ? 'primary' : '' }} button"
						(click)="onChangeColumn(column)"
						[matTooltip]="(column.column.logicValue === true ? 'Ukryj' : 'Pokaż') | translate"
						[matTooltipPosition]="'after'"
						style="border-radius: 10px"
					>
						<i class="{{ column.column.logicValue === true ? 'eye' : 'eye slash' }} icon"></i>
					</button>
				</div>
				<i cdkDragHandle class="icon" style="cursor: grab; vertical-align: middle">
					<span class="mdi mdi-drag mdi-24px"></span>
				</i>
				<div class="content">
					<div class="description" translate>{{ column.display }}</div>
				</div>
			</div>
		</ng-template>
	</div>
</div>
