<div class="ui tiny modal modal-confirm-action mrk-modal">
	<h1 class="ui header mrk-modal-header" style="border-bottom: none">
		<i class="{{ dialogConfig.iconClass }} icon"></i>
		<div class="content">
			<span translate>{{ dialogConfig.title }}</span>
			<div *ngIf="dialogConfig.meta" class="sub header">
				<span class="pad-left-xs" translate>{{ dialogConfig.meta }}</span>
			</div>

			<div class="mrk-header-line"></div>
		</div>
	</h1>
	<div class="content mrk-modal-content">
		<div class="ui basic segment">
			<span translate>{{ dialogConfig.description }}</span>
		</div>
	</div>
	<div class="actions" style="border-top: none">
		<button type="button" class="ui cancel button">
			<i class="remove icon"></i>
			<span translate>{{ dialogConfig.denyButtonLabel }}</span>
		</button>
		<button type="button" class="ui {{ dialogConfig.approveButtonColorClass }} ok button" [ngClass]="{ loading: loading }" [disabled]="loading">
			<i class="checkmark icon"></i>
			<span translate>{{ dialogConfig.approveButtonLabel }}</span>
		</button>
	</div>
</div>
