<div layout="row" layout flex>
	<div class="size-width-24"></div>

	<div layout="row" layout-align="center center">
		<h4 class="ui inverted header" style="margin: 0">
			<img src="assets/images/1737822_2.png" class="ui circular image" style="margin: 0" [ngStyle]="{ 'font-size': '16px' }" />
		</h4>
	</div>

	<div class="size-width-50"></div>

	<div layout="row" layout-align="start center" flex>
		<div class="ui column grid">
			<div class="wide column" style="padding: 0">
				<mat-nav-list class="toolbar-menu" style="display: flex" flex>
					<ng-template ngFor let-dashboard let-last="last" [ngForOf]="dashboards | wfilter: [{ field: 'favourite', value: 'show' }] | slice: 0:5">
						<ng-container *ngIf="!dashboard.subdashboards; else elseContainer">
							<a
								*ngxPermissionsOnly="dashboard.permissionsOnly"
								mat-list-item
								[matTooltip]="dashboard.toolTip | translate"
								[matTooltipPosition]="'above'"
								[class.selected]="selected?.type === dashboard?.type"
								(click)="setSelected(dashboard.type)"
							>
								<span
									style="text-align: left; display: inline-block; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis"
									translate
									>{{ dashboard.name }}</span
								>
							</a>
						</ng-container>

						<ng-template #elseContainer>
							<a
								*ngxPermissionsOnly="dashboard.permissionsOnly"
								mat-list-item
								[class.selected]="checkSelected(selected?.type, dashboard?.type)"
								[matMenuTriggerFor]="menuTrigger"
								[matTooltip]="dashboard.toolTip | translate"
								[matTooltipPosition]="'above'"
							>
								<span
									style="text-align: left; display: inline-block; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis"
									translate
									>{{ dashboard.name }}</span
								>
							</a>

							<mat-menu #menuTrigger="matMenu" class="sidenav-submenu submenu-top" [overlapTrigger]="true" yPosition="below" xPosition="after">
								<ng-template ngFor let-subdashboard let-last="last" [ngForOf]="dashboard.subdashboards">
									<button
										*ngxPermissionsOnly="subdashboard.permissionsOnly"
										mat-menu-item
										[class.selected]="selected?.type === subdashboard?.type"
										(click)="setSelected(subdashboard.type)"
									>
										<div layout="row" layout-align="start center">
											<mat-icon class="mdi {{ subdashboard.iconClass }} {{ subdashboard.colorClass }} mdi-24px"></mat-icon>
											<span class="size-width-6"></span>
											<span translate>{{ subdashboard.name }}</span>
										</div>
									</button>
								</ng-template>
							</mat-menu>
						</ng-template>

						<span *ngIf="!last" class="pad-left-xs pad-right-xs"></span>
					</ng-template>

					<span class="pad-left-xs pad-right-xs"></span>

					<a
						mat-list-item
						[class.selected]="checkFavourite(selected?.type)"
						[matMenuTriggerFor]="menuTrigger"
						[matTooltip]="'Więcej' | translate"
						[matTooltipPosition]="'above'"
						class="mrk-more"
					>
						<mat-icon matListAvatar>
							<span class="mdi mdi-dots-horizontal"></span>
						</mat-icon>
					</a>

					<mat-menu #menuTrigger="matMenu" class="sidenav-submenu submenu-top" [overlapTrigger]="true" yPosition="below" xPosition="after">
						<div style="overflow-y: auto; max-height: 340px">
							<ng-template ngFor let-dashboard let-last="last" [ngForOf]="dashboards | wfilter: [{ field: 'favourite', value: 'hide' }]">
								<ng-container *ngIf="!dashboard.subdashboards; else elseContainer">
									<button mat-menu-item [class.selected]="selected?.type === dashboard?.type" (click)="setSelected(dashboard?.type)">
										<div layout="row" layout-align="start center">
											<mat-icon
												class="mdi {{ dashboard.iconClass }} {{ dashboard.colorClass }} mdi-24px"
												style="margin-bottom: 0.25em"
											></mat-icon>
											<span class="size-width-6"></span>
											<span translate>{{ dashboard.name }}</span>
										</div>
									</button>
								</ng-container>

								<ng-template #elseContainer>
									<button
										mat-menu-item
										[class.selected]="checkSelected(selected?.type, dashboard?.type)"
										[matMenuTriggerFor]="subMenuTrigger"
									>
										<div layout="row" layout-align="start center">
											<mat-icon
												class="mdi {{ dashboard.iconClass }} {{ dashboard.colorClass }} mdi-24px"
												style="margin-bottom: 0.25em"
											></mat-icon>
											<span class="size-width-6"></span>
											<span translate>{{ dashboard.name }}</span>
										</div>
									</button>

									<mat-menu #subMenuTrigger="matMenu" class="sidenav-submenu" [overlapTrigger]="true" yPosition="below" xPosition="before">
										<ng-template ngFor let-subdashboard let-last="last" [ngForOf]="dashboard.subdashboards">
											<button
												mat-menu-item
												[class.selected]="selected?.type === subdashboard?.type"
												(click)="setSelected(subdashboard?.type)"
											>
												<div layout="row" layout-align="start center">
													<mat-icon
														class="mdi {{ subdashboard.iconClass }} {{ subdashboard.colorClass }} mdi-24px"
														style="margin-bottom: 0.25em"
													></mat-icon>
													<span class="size-width-6"></span>
													<span translate>{{ subdashboard.name }}</span>
												</div>
											</button>
										</ng-template>
									</mat-menu>
								</ng-template>
							</ng-template>
						</div>

						<button mat-menu-item (click)="modalChangelog()">
							<div layout="row" layout-align="start center">
								<mat-icon class="mdi mdi-code-tags"> </mat-icon>
								<span class="size-width-6"></span>
								<span translate>Changelog</span>
							</div>
						</button>

						<div
							class="ui divider"
							style="margin: 0.5rem 0"
							[hidden]="(dashboards | wfilter: [{ field: 'favourite', value: 'hide' }]).length < 1"
						></div>

						<button mat-menu-item (click)="modalSettingsMenu()">
							<div layout="row" layout-align="start center">
								<mat-icon class="mdi mdi-cog-outline mdi-24px" style="margin-bottom: 0.25em"></mat-icon>
								<span class="size-width-6"></span>
								<span translate>Dostosuj menu</span>
							</div>
						</button>

						<div class="ui divider" style="margin: 0.5rem 0"></div>

						<button mat-menu-item (click)="modalManageDashboards()">
							<div layout="row" layout-align="start center">
								<mat-icon class="mdi mdi-application-cog mdi-24px" style="margin-bottom: 0.25em"></mat-icon>
								<span class="size-width-6"></span>
								<span translate>Zarządzaj panelami</span>
							</div>
						</button>
					</mat-menu>
				</mat-nav-list>
			</div>
		</div>
	</div>

	<div layout="row" layout-align="end center" flex>
		<div class="ui column grid">
			<div class="right aligned wide column" style="padding-top: 0">
				<div class="ui icon top right pointing dropdown circular button dropdown-languages">
					<span class="text" style="margin-left: 0em; margin-right: -0.75em"></span>

					<div class="menu transition hidden menu-languages">
						<div class="header" translate>Wyszukaj</div>
						<div class="ui icon search input">
							<i class="search icon"></i>
							<input type="text" placeholder="{{ 'Wyszukaj' | translate }}" />
						</div>

						<div class="scrolling menu" style="box-shadow: none !important; border-radius: 0 !important">
							<ng-template ngFor let-language let-last="last" [ngForOf]="languages">
								<div class="item" style="padding: 1em" [attr.data-value]="language.code">
									<i class="{{ language.flag }} flag"></i>
									<span class="description">{{ language.desc }}</span> <span class="name">{{ language.name }}</span>
								</div>
							</ng-template>
						</div>
					</div>
				</div>

				<span class="pad-left-xs pad-right-xs"></span>

				<div class="ui icon top right pointing dropdown circular button dropdown-themes">
					<span
						class="ui {{ dark ? defaultTheme + '-dark' : defaultTheme + '-light' }} theme-primary empty circular label"
						style="margin: 0.1em 0.2em 0 0.1em; vertical-align: top"
					></span>

					<div class="menu transition hidden menu-themes">
						<div class="header mrk-themes">
							<h4 class="ui inverted header">
								<div class="content">
									<span>Style aplikacji</span>
								</div>
							</h4>
						</div>
						<div class="scrolling menu" style="box-shadow: none !important; border-radius: 0 !important">
							<ng-template ngFor let-theme let-last="last" [ngForOf]="themes">
								<div class="item" style="padding: 1em" [attr.data-value]="theme">
									<div class="ui {{ dark ? theme + '-dark' : theme + '-light' }} theme-primary empty circular label"></div>
									<span>{{ theme }}</span>
								</div>
							</ng-template>
						</div>
						<div class="divider"></div>
						<div class="header">
							<div class="ui toggle checkbox checkbox-dark-theme" style="vertical-align: middle">
								<input type="checkbox" name="darktheme" [(ngModel)]="dark" />
								<label translate>Tryb nocny</label>
							</div>
						</div>
					</div>
				</div>

				<span class="pad-left-xs pad-right-xs"></span>

				<button
					class="ui circular icon button mrk-button"
					(click)="onChangeDark()"
					[matTooltip]="dark ? 'Ciemny motyw' : ('Jasny motyw' | translate)"
					matTooltipPosition="below"
				>
					<i class="{{ dark ? 'black moon' : 'tc-yellow-400 sun' }} icon"></i>
				</button>

				<span class="pad-left-xs pad-right-xs"></span>

				<div class="ui icon top right pointing dropdown circular button dropdown-toolbar">
					<i class="columns icon"></i>

					<div class="menu transition hidden menu-toolbar">
						<div class="header mrk-toolbars">
							<h4 class="ui inverted header">
								<div class="content">
									<span>Toolbar</span>
								</div>
							</h4>
						</div>
						<div class="scrolling menu" style="box-shadow: none !important; margin: 0 !important">
							<ng-template ngFor let-toolbar let-last="last" [ngForOf]="toolbars">
								<div class="item" style="padding: 1em" [attr.data-value]="toolbar">
									<span>{{ toolbar }}</span>
								</div>
							</ng-template>
						</div>
					</div>
				</div>

				<span class="pad-left-xs pad-right-xs"></span>

				<div class="ui icon top right pointing dropdown circular button dropdown-notifications">
					<i class="bell outline icon"></i>
					<div class="floating ui red circular small label mrk-label">22</div>

					<div class="menu transition hidden menu-notifications">
						<div class="header mrk-notifications">
							<h4 class="ui inverted header">
								<div class="content">
									<span>Powiadomienia</span>
									<span class="pad-left-sm" style="font-size: 14px; color: rgba(255 255 255 / 70%)">22</span>
								</div>
							</h4>
						</div>
						<!-- <div class="divider"></div> -->
						<div class="scrolling menu" style="box-shadow: none !important; border-radius: 0 !important">
							<div class="ui relaxed selection list">
								<ng-template ngFor let-notification let-i="index" let-last="last" [ngForOf]="notifications">
									<div class="item" style="padding: 1em; min-width: 256px">
										<i
											class="{{ notification.icon }} middle aligned icon"
											style="vertical-align: middle; padding-right: unset; font-size: 24px"
										></i>
										<div class="content">
											<div class="header">{{ notification.name }}</div>
											<div class="description" style="opacity: 0.5">{{ notification.date | date: 'dd-MM-yyyy HH:mm' }}</div>
										</div>
									</div>
								</ng-template>
							</div>
						</div>
						<div class="divider"></div>
						<a class="item" (click)="setSelected(dashboardType.NOTIFICATIONS)" style="text-align: center">Pokaż wszystkie</a>
					</div>
				</div>

				<span class="pad-left-sm pad-right-sm"></span>

				<div class="ui icon top right pointing dropdown button dropdown-settings" style="top: 1em">
					<div layout="row" layout-align="start center">
						<ngx-avatar *ngIf="userLogged?.photo; else elseBlock" size="36" cornerRadius="5" [round]="false" [src]="userLogged?.photo"></ngx-avatar>
						<ng-template #elseBlock>
							<ngx-avatar
								name="{{ userLogged?.fullName ? userLogged?.fullName : userLogged?.email }}"
								size="36"
								cornerRadius="10"
								[round]="false"
							></ngx-avatar>
						</ng-template>
						<!-- <span class="text pad-left-md pad-right-md">{{ userLogged?.fullName ? userLogged?.fullName : userLogged?.email }}</span> -->
					</div>
					<div class="menu transition hidden menu-settings">
						<div class="header mrk-settings">
							<h4 class="ui inverted header">
								<ngx-avatar
									*ngIf="userLogged?.photo; else elseBlock"
									class="ui image"
									size="48"
									cornerRadius="10"
									[round]="false"
									[src]="userLogged?.photo"
								></ngx-avatar>
								<ng-template #elseBlock>
									<ngx-avatar
										class="ui image"
										name="{{ userLogged?.fullName ? userLogged?.fullName : userLogged?.email }}"
										size="48"
										cornerRadius="5"
										[round]="false"
									></ngx-avatar>
								</ng-template>

								<div class="content" style="padding-left: 1.5em">
									<span>{{ userLogged?.fullName ? userLogged?.fullName : userLogged?.email }}</span>
									<div class="sub header">{{ userLogged?.email }}</div>
									<!-- <div class="extra" style="padding-top: 0.5em">
                                    <div class="ui small labels">
                                        <div class="ui primary label">
                                            <span translate>Administrator</span>
                                        </div>
                                    </div>
                                </div> -->
								</div>
							</h4>
						</div>
						<div class="item" (click)="profile('data')">
							<i class="settings icon"></i>
							<span translate>Ustawienia konto</span>
						</div>
						<div class="item" (click)="profile('password')">
							<i class="edit icon"></i>
							<span translate>Zmiana hasła</span>
						</div>
						<div class="divider"></div>
						<div class="item" (click)="problem()">
							<i class="bug icon"></i>
							<span translate>Zgłoś problem</span>
						</div>
						<div class="divider"></div>
						<div class="item" (click)="lock()">
							<i class="user lock icon"></i>
							<span translate>Zablokuj</span>
						</div>
						<div class="item" (click)="logout()">
							<i class="sign out alternate icon"></i>
							<span translate>Wyloguj</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
