.dropdown-toolbar,
.dropdown-languages,
.dropdown-themes,
.dropdown-notifications {
	background: transparent !important;
}
.dropdown-settings {
	padding: 0 !important;
}
.dropdown-languages {
	span.text {
		span.name {
			display: none !important;
		}
		span.description {
			display: none !important;
		}
	}
}

.ui.secondary.menu .item {
	align-self: end !important;
}
