<div
	#reading
	class="reading-block"
	[style.fontSize]="options.size * 0.16 + 'px'"
	[style.lineHeight]="options.size * 0.9 + 'px'"
	[style.width.px]="options.size"
	[style.height.px]="options.size"
>
	<u class="reading-affix">
		<span>{{ prepend }}</span>
	</u>
	<span>{{ value | number }}</span>
	<u *ngIf="append" class="reading-affix">
		<span>{{ append }}</span>
	</u>
</div>
<div
	class="reading-label"
	[style.fontSize]="options.size / 10 + 'px'"
	[style.lineHeight]="(6 * options.size) / 25 + options.size + 'px'"
	[style.width.px]="options.size"
	[style.height.px]="options.size"
>
	<span>{{ label }}</span>
</div>
<div
	*ngIf="options.showExtremum === true && options.type !== 'full'"
	class="reading-min"
	[style.fontSize]="options.size / 9 + 'px'"
	[style.lineHeight]="(6 * options.size) / (options.type === 'semi' ? 20 : 7.5) + options.size + 'px'"
	[style.paddingLeft]="(options.type === 'semi' ? 5 : 15) + 'px'"
	[style.width.px]="options.size"
	[style.height.px]="options.size"
>
	<span>{{ min }}</span>
</div>
<div
	*ngIf="options.showExtremum === true && options.type !== 'full'"
	class="reading-max"
	[style.fontSize]="options.size / 9 + 'px'"
	[style.lineHeight]="(6 * options.size) / (options.type === 'semi' ? 20 : 7.5) + options.size + 'px'"
	[style.paddingRight]="(options.type === 'semi' ? 5 : 15) + 'px'"
	[style.width.px]="options.size"
	[style.height.px]="options.size"
>
	<span>{{ max }}</span>
</div>
<canvas #canvas [width]="options.size" [height]="options.size"></canvas>
