<!-- zarządzanie użytkownikiem -->
<div class="ui small modal modal-add-group-user mrk-modal">
	<i class="close icon"></i>
	<h1 class="ui header mrk-modal-header">
		<div class="content">
			<span translate>{{ dialogConfig.title }}</span>
			<div class="sub header">
				<span class="pad-left-xs" translate>{{ dialogConfig.meta }}</span>
			</div>

			<div class="mrk-header-line"></div>
		</div>
	</h1>
	<div class="scrolling content mrk-modal-content">
		<div class="ui basic segment">
			<app-stepper-form-template #form [formConfig]="formConfig" [steps]="steps"></app-stepper-form-template>
		</div>
	</div>

	<div class="actions">
		<button class="ui button" (click)="onBackForm()">
			<i class="cancel icon"></i>
			<span translate>Anuluj</span>
		</button>

		<button *ngIf="form.stepper?.selectedIndex > 0" type="button" class="ui button" (click)="onPreviousStep(form.stepper)">
			<i class="arrow left icon"></i>
			<span translate>Cofnij</span>
		</button>
		<button
			*ngIf="form.stepper?.selectedIndex < steps.length - 1"
			type="button"
			class="ui button"
			style="box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1)"
			(click)="onNextStep(form.stepper)"
		>
			<span translate>Dalej</span>
			<i class="arrow right icon"></i>
		</button>

		<button
			*ngIf="form.stepper?.selectedIndex === steps.length - 1"
			type="button"
			class="ui primary button"
			[ngClass]="{ loading: form.loading }"
			style="box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1)"
			(click)="onSaveForm()"
			[disabled]="form.loading"
		>
			<i class="check icon"></i>
			<span translate>Zatwierdź</span>
		</button>
	</div>
</div>
