<div class="ui basic segment">
	<div class="ui items">
		<ng-container *ngFor="let gauge of gauges">
			<div class="item">
				<div class="image" style="width: unset">
					<app-gauge [value]="gauge.value" [label]="gauge.label" [append]="gauge.append" [options]="gauge.options" [thresholds]="gauge.thresholds">
					</app-gauge>
				</div>
				<div class="content">
					<h4 class="header">{{ gauge.label }}</h4>

					<div *ngIf="gauge.name" class="extra">
						<span>{{ gauge.name }}</span>
					</div>

					<div *ngIf="gauge.value; else templateEmptyData" class="extra">
						<ng-container *ngFor="let data of gauge.data">
							<div *ngIf="data.value" class="ui small label">
								<span translate>{{ data.key }}</span>
								<div class="detail">{{ data.value }} {{ data.type }}</div>
							</div>
						</ng-container>
					</div>

					<ng-template #templateEmptyData>
						<div class="extra">
							<div class="ui small label">
								<span translate>błąd odczytu</span>
							</div>
						</div>
					</ng-template>
				</div>
			</div>
		</ng-container>
	</div>
</div>
