<div class="widget-button"></div>

<div class="ui grid" style="margin: 0; padding: 0">
	<div class="sixteen wide column">
		<div layout="row" layout-align="space-between center" flex>
			<div layout="row" layout-align="start start">
				<ng-container *ngFor="let control of controls; trackBy: TrackByFn">
					<button
						class="ui icon button"
						[ngClass]="{ icon: !control.showText }"
						(click)="control.click(getSelected())"
						[class]="control.color ? control.color : 'primary'"
						[disabled]="control.disabled"
						style="border-radius: 10px"
					>
						<i class="{{ control.icon }} icon"></i>
						<span *ngIf="control.showText">{{ control.text }}</span>
					</button>
				</ng-container>

				<span *ngIf="controls.length" class="size-width-24"></span>
			</div>

			<div layout="row" layout-align="start end" style="margin-right: 4em">
				<!-- filtrowanie w sparowanym komponencie -->
				<ng-container *ngFor="let toggleControl of toggleControls; trackBy: TrackByFn">
					<button
						class="ui icon button table-button"
						(click)="toggleControl.click(toggleControl.checked, getSelected())"
						[class]="toggleControl.checked ? 'primary' : ''"
						[disabled]="toggleControl.disabled"
					>
						<i class="stream icon"></i>
					</button>
				</ng-container>

				<!-- filtrowanie danych -->
				<button class="ui icon button menu-filters" (click)="onFilters({ tabType: 'filters' })">
					<i class="filter icon"></i>
					<div class="floating ui red circular small label mrk-label">{{ filtersCount }}</div>
				</button>

				<!-- eksport do pliku -->
				<div
					*ngIf="exportConfig.show"
					class="ui icon right top pointing dropdown button dropdown-export"
					style="background: transparent; z-index: unset"
					[disabled]="exportConfig.disabled"
				>
					<i class="file export icon settings-icon"></i>
					<div class="menu">
						<ng-container *ngFor="let button of exportButtons; trackBy: TrackByFn">
							<div class="item" (click)="button.click()">
								<!-- <i class="{{ button.icon }} icon"></i> -->
								<span translate>{{ button.text }}</span>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div *ngIf="activeFilters.length" class="ui grid" style="margin-bottom: -3em">
	<div class="sixteen wide column"></div>
</div> -->

<div class="ui grid" style="margin-top: 0; height: calc(100% - 96px)">
	<div class="sixteen wide column" style="padding: 0 1em; height: 100%">
		<div class="ui list table-header">
			<div class="item" style="padding: 0.25em 2em">
				<div class="content">
					<div matSort class="ui middle aligned equal width centered grid" (matSortChange)="onChangeSort($event)">
						<ng-container *ngFor="let column of columns">
							<div class="{{ column.definition.size }} column">
								<div layout="row" layout-align="start center">
									<span [mat-sort-header]="column.definition.alias" style="font-weight: bold; color: #9e9e9e">
										<span [hidden]="column.definition.hidden" translate>{{ column.display }}</span>
									</span>

									<ng-container *ngIf="isColumnFilterable(column)">
										<button class="ui icon button button-filter">
											<i
												*ngIf="isColumnFilterOn(column)"
												class="filter active icon"
												[matTooltip]="getFilterTooltip(column)"
												(click)="onFilters({ tabType: 'filters', column: column })"
											></i>
											<!-- <i *ngIf="isColumnFilterOff(column)" class="filter icon"></i> -->
											<i
												*ngIf="isColumnFilterOff(column)"
												class="icons"
												[matTooltip]="getFilterTooltip(column)"
												(click)="onFilters({ tabType: 'filters', column: column })"
											>
												<i class="filter icon"></i>
												<i class="tiny corner times icon"></i>
											</i>
											<i *ngIf="isColumnFilterEmpty(column)" class="icons" (click)="onFilters({ tabType: 'filters', filter: column })">
												<i class="filter empty icon"></i>
												<i class="tiny corner add icon"></i>
											</i>
										</button>
									</ng-container>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
		</div>

		<!-- <div *ngIf="activeFilters.length" class="ui basic segment table-active-filters">
			<div layout="row" layout-align="end center" flex>
				<mat-chip-list [multiple]="true">
					<mat-chip
						*ngFor="let filter of activeFilters"
						[selected]="filter.filter.logicValue"
						[matTooltip]="getFilterTooltip(filter)"
						(click)="onClickFilter(filter)"
						color="accent"
					>
						<mat-icon (click)="onFilters({ tabType: 'filters', column: filter })" class="mat-chip-edit" matChipRemove>edit</mat-icon>
						<span class="pad-left-sm pad-right-sm" translate>{{ filter.display }}</span>
						<mat-icon (click)="onRemoveFilter(filter.filter)" matChipRemove>cancel</mat-icon>
					</mat-chip>
				</mat-chip-list>
			</div>
		</div> -->

		<div class="ui divider table-divider"></div>
		<div
			*ngIf="!loading"
			class="ui accordion selection list table-list"
			[ngStyle]="{ height: activeFilters.length ? 'calc(100% - 64px)' : 'calc(100% - 64px)' }"
		>
			<!-- <ng-template #lists ngFor let-row let-last="last" [ngForOf]="dataSource.data"> -->
			<ng-container *ngFor="let row of dataSource.data; let last = last; trackBy: trackByFn">
				<div class="item" [class.selected]="isSelected(row)" (click)="onRowClick(row)" style="padding: 1.25em 2em">
					<div class="content">
						<div class="ui equal width grid">
							<ng-container *ngFor="let column of columns">
								<div *ngIf="getCellData(row, column.definition) as data" class="middle aligned {{ column.definition.size }} column">
									<i *ngIf="data.icon" class="{{ data.icon }} large icon"></i>
									<i *ngIf="data.icon && data.iconColor" class="{{ data.icon }} large icon" [ngStyle]="{ color: data.iconColor }"></i>
									<span *ngIf="data.text">{{ data.text }}</span>
								</div>
							</ng-container>
						</div>
					</div>
				</div>

				<div *ngIf="!last" style="margin: 0; border-top: 1px dashed #e0e0e0"></div>
			</ng-container>

			<div *ngIf="!loading && !dataSource.data.length" class="ui placeholder segment" style="box-shadow: none; background: none; border: none; margin: 0">
				<div class="ui icon header">
					<i class="close icon"></i>
					<span>Nie znaleziono danych</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- obszar stronicowania -->
<div #pagingBar class="ui center aligned grid mrk-paging" [ngStyle]="{ display: !dataSource.data.length ? 'none' : 'block' }">
	<div
		class="row"
		style="
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-line-pack: center;
			align-content: center;
			width: 100%;
			-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: space-between;
		"
	>
		<div *ngIf="tdPagingBar" layout="row" layout-align="center center">
			<div class="pad-left-md pad-right-sm">
				<span class="ui medium text">{{ tdPagingBar?.range }} <span translate>z</span> {{ tdPagingBar?.total }}</span>
			</div>

			<div class="pad-left-md pad-right-sm">
				<div class="ui floating dropdown labeled icon tiny basic button dropdown-pagesize">
					<i class="table icon"></i>
					<div class="text">Rozmiar</div>
					<div class="menu">
						<ng-container *ngFor="let pageSize of pageSizes">
							<div class="item" [attr.data-value]="pageSize">
								<span>{{ pageSize }}</span>
							</div>
						</ng-container>
					</div>
				</div>
			</div>

			<div class="ui mini input pad-left-sm pad-right-sm">
				<input
					#goToPage
					matInput
					type="number"
					[min]="1"
					[max]="tdPagingBar?.maxPage"
					[value]="tdPagingBar?.page"
					(blur)="goToPage.value = tdPagingBar.page"
					(change)="tdPagingBar.navigateToPage(goToPage.value); goToPage.value = tdPagingBar?.page"
					(keyup.enter)="tdPagingBar.navigateToPage(goToPage.value); goToPage.value = tdPagingBar?.page"
				/>
			</div>
		</div>

		<td-paging-bar
			#tdPagingBar
			[firstLast]="false"
			[pageSizes]="pageSizes"
			[pageLinkCount]="3"
			[pageSize]="pageSize"
			[total]="totalRows"
			(change)="onPageChange($event)"
			style="flex: auto"
		>
		</td-paging-bar>
	</div>
</div>
