<!-- zarządzanie użytkownikiem -->
<div class="ui small modal modal-manage-group-resource mrk-modal">
	<i class="close icon"></i>
	<h1 class="ui header mrk-modal-header">
		<div class="content">
			<span translate>{{ dialogConfig.title }}</span>
			<div class="sub header">
				<span class="pad-left-xs" translate>{{ dialogConfig.meta }}</span>
			</div>

			<div class="mrk-header-line"></div>
		</div>
	</h1>

	<!-- loading -->
	<div id="loading" class="mrk-loading">
		<div class="ui grid">
			<div class="sixteen wide column">
				<div *tdLoading="'modalSyntax'; type: 'linear'; mode: 'indeterminate'; color: 'primary'"></div>
			</div>
		</div>
	</div>

	<div class="scrolling content mrk-modal-content">
		<div class="ui basic segment">
			<app-tab-form-template #form [formConfig]="formConfig" [steps]="steps" [selectedIndex]="selectedIndex"></app-tab-form-template>
		</div>
	</div>

	<div class="actions">
		<button class="ui button" (click)="onBackForm()">
			<i class="cancel icon"></i>
			<span translate>Anuluj</span>
		</button>

		<button
			type="button"
			class="ui primary button"
			[ngClass]="{ loading: form.loading }"
			style="box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1)"
			(click)="onSaveForm()"
			[disabled]="form.loading || loading"
		>
			<i class="check icon"></i>
			<span translate>Zatwierdź</span>
		</button>
	</div>
</div>
