$palette-mk-light: (
	icon-color: #000000b2,
	font-color: #000000dd,
	icon-inverted-color: #ffffffb2,
	font-inverted-color: #ffffffdd,
	drawer-container-background: #dcdcdc3f,
	segment-content-background: #ffffff,
	segment-footer-background: #ffffff,
	dropdown-menu-background: #ffffff,
	dropdown-background: #ffffff,
	dropdown-menu-box-shadow: #a07e7e33,
	dropdown-item-background: #ffffff,
	dropdown-menu-item-hover-background: rgba(0, 0, 0, 0.05),
	menu-panel-background: #fafafa,
	modal-background: #ffffff,
	autofill-box-shadow: #f0f8fa,
	input-background: #f5f8fa,
	input-color: #5e6278,
	input-border-color: #f5f8fa,
	modal-icon-color: #000000,
	widget-header-background: #ffffff,
	select-content-background: #ffffff,
	icon-button-disabled-color: #00000042,
	paging-bar-color: #00000089,
	basic-button-color: #00000099,
	basic-button-hover-background: #ffffff,
	button-background: rgba(224, 225, 226, 1),
	button-color: #00000099,
	button-hover-background: #ffffff,
	button-filter-color: #00000099,
	menu-filters-background: #ffffff,
	table-button-background: #ffffff,
	tab-label-active-color: #000000dd,
	toggle-checkbox-before-background: rgba(0, 0, 0, 0.05),
	list-item-selected-background: #f0f0f0,
	list-item-selected-color: #e79191,
	list-item-hover-background: rgba(236, 239, 241, 0.5),
	paging-box-shadow: rgba(34, 36, 38, 0.1),
	vertical-menu-background: #ffffff,
	loading-background: rgba(0, 0, 0, 0.1),
	widget-loading-background: #ffffff,
	tab-header-pagination-color: rgba(0, 0, 0, 0.87),
	tab-header-pagination-disabled-color: rgba(0, 0, 0, 0.38),
	mat-fab-box-shadow: rgba(20, 20, 20, 0.5),
	mat-mini-fab-box-shadow: rgba(20, 20, 20, 0.5),
	modal-header-border: rgba(234, 236, 238, 0.5),
	modal-actions-border: rgba(234, 236, 238, 0.5),
	cal-cell-row-background: rgba(236, 239, 241, 0.5),
	menu-submenu-icon-color: rgba(0, 0, 0, 0.54),
	account-background-value: 100,
	tab-label-active-background-value: 100,
	list-item-selected-background-value: 100,
	background-image: linear-gradient(to right bottom, #db6b6b, #d47e4d, #bd953c, #99aa46, #66bb6a),
	50: #fcf3f3,
	100: #f9e0e0,
	200: #f5cccc,
	300: #f0b8b8,
	400: #eda8a8,
	500: #ea9999,
	600: #e79191,
	700: #e48686,
	800: #e17c7c,
	900: #db6b6b,
	A100: #ffffff,
	A200: #ffffff,
	A400: #ffeaea,
	A700: #ffd0d0,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);

$palette-mk-dark: (
	icon-color: #ffffff,
	font-color: #ffffffdd,
	icon-inverted-color: #ffffffb2,
	font-inverted-color: #ffffffdd,
	drawer-container-background: #222222,
	segment-content-background: #353535,
	segment-footer-background: #353535,
	dropdown-menu-background: #424242,
	dropdown-background: #424242,
	dropdown-menu-box-shadow: #353535,
	dropdown-item-background: #424242,
	dropdown-menu-item-hover-background: rgba(255, 255, 255, 0.05),
	menu-panel-background: #424242,
	autofill-box-shadow: #424242,
	input-background: #424242,
	input-color: #ffffff,
	input-border-color: #424242,
	modal-background: #353535,
	modal-icon-color: #ffffff,
	widget-header-background: #424242,
	select-content-background: #353535,
	icon-button-disabled-color: #ffffff42,
	paging-bar-color: #ffffff89,
	basic-button-color: #ffffff99,
	basic-button-hover-background: #353535,
	button-background: rgba(24, 25, 26, 1),
	button-color: #00000099,
	button-hover-background: #353535,
	button-filter-color: #ffffff99,
	menu-filters-background: #757575,
	table-button-background: #757575,
	tab-label-active-color: #ffffffdd,
	toggle-checkbox-before-background: rgba(255, 255, 255, 0.05),
	list-item-selected-background: #353535,
	list-item-selected-color: #ffffff,
	list-item-hover-background: rgba(36, 39, 41, 0.5),
	paging-box-shadow: rgba(34, 36, 38, 0.5),
	vertical-menu-background: #222222,
	loading-background: rgba(255, 255, 255, 0.1),
	widget-loading-background: #353535,
	tab-header-pagination-color: rgba(255, 255, 255, 0.87),
	tab-header-pagination-disabled-color: rgba(255, 255, 255, 0.38),
	mat-fab-box-shadow: rgba(20, 20, 20, 0.5),
	mat-mini-fab-box-shadow: rgba(20, 20, 20, 0.5),
	modal-header-border: rgba(234, 236, 238, 0.05),
	modal-actions-border: rgba(234, 236, 238, 0.05),
	cal-cell-row-background: rgba(36, 39, 41, 0.5),
	menu-submenu-icon-color: rgba(255, 255, 255, 0.54),
	account-background-value: 800,
	tab-label-active-background-value: 800,
	list-item-selected-background-value: 800,
	background-image: linear-gradient(to right bottom, #af5858, #a8663f, #997933, #6d7932, #4d8a50),
	50: #d8cfcf,
	100: #d6c1c1,
	200: #cfabab,
	300: #c59898,
	400: #c08888,
	500: #c08080,
	600: #be7979,
	700: #b66a6a,
	800: #b66363,
	900: #b85a5a,
	A100: #ffffff,
	A200: #ffffff,
	A400: #ffeaea,
	A700: #ffd0d0,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);
