$palette-mw-light: (
	icon-color: #000000b2,
	font-color: #000000dd,
	icon-inverted-color: #ffffffb2,
	font-inverted-color: #ffffffdd,
	drawer-container-background: #dcdcdc3f,
	segment-content-background: #ffffff,
	segment-footer-background: #ffffff,
	dropdown-menu-background: #ffffff,
	dropdown-background: #ffffff,
	dropdown-menu-box-shadow: #a07e7e33,
	dropdown-item-background: #ffffff,
	dropdown-menu-item-hover-background: rgba(0, 0, 0, 0.05),
	menu-panel-background: #fafafa,
	modal-background: #ffffff,
	autofill-box-shadow: #f0f8fa,
	input-background: #f5f8fa,
	input-color: #5e6278,
	input-border-color: #f5f8fa,
	modal-icon-color: #000000,
	widget-header-background: #ffffff,
	select-content-background: #ffffff,
	icon-button-disabled-color: #00000042,
	paging-bar-color: #00000089,
	basic-button-color: #00000099,
	basic-button-hover-background: #ffffff,
	button-background: rgba(224, 225, 226, 1),
	button-color: #00000099,
	button-hover-background: #ffffff,
	button-filter-color: #00000099,
	menu-filters-background: #ffffff,
	table-button-background: #ffffff,
	tab-label-active-color: #000000dd,
	toggle-checkbox-before-background: rgba(0, 0, 0, 0.05),
	list-item-selected-background: #f0f0f0,
	list-item-selected-color: #bc7398,
	list-item-hover-background: rgba(236, 239, 241, 0.5),
	paging-box-shadow: rgba(34, 36, 38, 0.1),
	vertical-menu-background: #ffffff,
	loading-background: rgba(0, 0, 0, 0.1),
	widget-loading-background: #ffffff,
	tab-header-pagination-color: rgba(0, 0, 0, 0.87),
	tab-header-pagination-disabled-color: rgba(0, 0, 0, 0.38),
	mat-fab-box-shadow: rgba(20, 20, 20, 0.5),
	mat-mini-fab-box-shadow: rgba(20, 20, 20, 0.5),
	modal-header-border: rgba(234, 236, 238, 0.5),
	modal-actions-border: rgba(234, 236, 238, 0.5),
	cal-cell-row-background: rgba(236, 239, 241, 0.5),
	menu-submenu-icon-color: rgba(0, 0, 0, 0.54),
	account-background-value: 100,
	tab-label-active-background-value: 100,
	list-item-selected-background-value: 100,
	background-image: linear-gradient(to right bottom, #9f4b73, #ba5a56, #b8793b, #9d9c3c, #66bb6a),
	50: #f8eff4,
	100: #edd7e3,
	200: #e1bdd0,
	300: #d4a3bd,
	400: #cb8fae,
	500: #c27ba0,
	600: #bc7398,
	700: #b4688e,
	800: #ac5e84,
	900: #9f4b73,
	A100: #fffcfd,
	A200: #ffc9e2,
	A400: #ff96c7,
	A700: #ff7cb9,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);

$palette-mw-dark: (
	icon-color: #ffffff,
	font-color: #ffffffdd,
	icon-inverted-color: #ffffffb2,
	font-inverted-color: #ffffffdd,
	drawer-container-background: #222222,
	segment-content-background: #353535,
	segment-footer-background: #353535,
	dropdown-menu-background: #424242,
	dropdown-background: #424242,
	dropdown-menu-box-shadow: #353535,
	dropdown-item-background: #424242,
	dropdown-menu-item-hover-background: rgba(255, 255, 255, 0.05),
	menu-panel-background: #424242,
	autofill-box-shadow: #424242,
	input-background: #424242,
	input-color: #ffffff,
	input-border-color: #424242,
	modal-background: #353535,
	modal-icon-color: #ffffff,
	widget-header-background: #424242,
	select-content-background: #353535,
	icon-button-disabled-color: #ffffff42,
	paging-bar-color: #ffffff89,
	basic-button-color: #ffffff99,
	basic-button-hover-background: #353535,
	button-background: rgba(24, 25, 26, 1),
	button-color: #00000099,
	button-hover-background: #353535,
	button-filter-color: #ffffff99,
	menu-filters-background: #757575,
	table-button-background: #757575,
	tab-label-active-color: #ffffffdd,
	toggle-checkbox-before-background: rgba(255, 255, 255, 0.05),
	list-item-selected-background: #353535,
	list-item-selected-color: #ffffff,
	list-item-hover-background: rgba(36, 39, 41, 0.5),
	paging-box-shadow: rgba(34, 36, 38, 0.5),
	vertical-menu-background: #222222,
	loading-background: rgba(255, 255, 255, 0.1),
	widget-loading-background: #353535,
	tab-header-pagination-color: rgba(255, 255, 255, 0.87),
	tab-header-pagination-disabled-color: rgba(255, 255, 255, 0.38),
	mat-fab-box-shadow: rgba(20, 20, 20, 0.5),
	mat-mini-fab-box-shadow: rgba(20, 20, 20, 0.5),
	modal-header-border: rgba(234, 236, 238, 0.05),
	modal-actions-border: rgba(234, 236, 238, 0.05),
	cal-cell-row-background: rgba(36, 39, 41, 0.5),
	menu-submenu-icon-color: rgba(255, 255, 255, 0.54),
	account-background-value: 800,
	tab-label-active-background-value: 800,
	list-item-selected-background-value: 800,
	background-image: linear-gradient(to right bottom, #723653, #8a4441, #8b5d2f, #706f2b, #4a854d),
	50: #d4cdd1,
	100: #c2b0ba,
	200: #bd9faf,
	300: #ac8499,
	400: #9c7087,
	500: #9e6783,
	600: #975d7a,
	700: #915372,
	800: #7c445f,
	900: #7c3b5b,
	A100: #fffcfd,
	A200: #ffc9e2,
	A400: #ff96c7,
	A700: #ff7cb9,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);
