$palette-wm-light: (
	icon-color: #000000b2,
	font-color: #000000dd,
	icon-inverted-color: #ffffffb2,
	font-inverted-color: #ffffffdd,
	drawer-container-background: #dcdcdc3f,
	segment-content-background: #ffffff,
	segment-footer-background: #ffffff,
	dropdown-menu-background: #ffffff,
	dropdown-background: #ffffff,
	dropdown-menu-box-shadow: #a07e7e33,
	dropdown-item-background: #ffffff,
	dropdown-menu-item-hover-background: rgba(0, 0, 0, 0.05),
	menu-panel-background: #fafafa,
	modal-background: #ffffff,
	autofill-box-shadow: #f0f8fa,
	input-background: #f5f8fa,
	input-color: #5e6278,
	input-border-color: #f5f8fa,
	modal-icon-color: #000000,
	widget-header-background: #ffffff,
	select-content-background: #ffffff,
	icon-button-disabled-color: #00000042,
	paging-bar-color: #00000089,
	basic-button-color: #00000099,
	basic-button-hover-background: #ffffff,
	button-background: rgba(224, 225, 226, 1),
	button-color: #00000099,
	button-hover-background: #ffffff,
	button-filter-color: #00000099,
	menu-filters-background: #ffffff,
	table-button-background: #ffffff,
	tab-label-active-color: #000000dd,
	toggle-checkbox-before-background: rgba(0, 0, 0, 0.05),
	list-item-selected-background: #f0f0f0,
	list-item-selected-color: #0280cc,
	list-item-hover-background: rgba(236, 239, 241, 0.5),
	paging-box-shadow: rgba(34, 36, 38, 0.1),
	vertical-menu-background: #ffffff,
	loading-background: rgba(0, 0, 0, 0.1),
	widget-loading-background: #ffffff,
	tab-header-pagination-color: rgba(0, 0, 0, 0.87),
	tab-header-pagination-disabled-color: rgba(0, 0, 0, 0.38),
	mat-fab-box-shadow: rgba(20, 20, 20, 0.5),
	mat-mini-fab-box-shadow: rgba(20, 20, 20, 0.5),
	modal-header-border: rgba(234, 236, 238, 0.5),
	modal-actions-border: rgba(234, 236, 238, 0.5),
	cal-cell-row-background: rgba(236, 239, 241, 0.5),
	menu-submenu-icon-color: rgba(0, 0, 0, 0.54),
	account-background-value: 100,
	tab-label-active-background-value: 100,
	list-item-selected-background-value: 100,
	background-image: linear-gradient(to right bottom, #0158b5, #007bc6, #0096b5, #00ac8f, #66bb6a),
	50: #e1f1f9,
	100: #b3dbf1,
	200: #81c4e8,
	300: #4eacdf,
	400: #289ad8,
	500: #0288d1,
	600: #0280cc,
	700: #0175c6,
	800: #016bc0,
	900: #0158b5,
	A100: #deecff,
	A200: #abceff,
	A400: #78b1ff,
	A700: #5ea2ff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);

$palette-wm-dark: (
	icon-color: #ffffff,
	font-color: #ffffffdd,
	icon-inverted-color: #ffffffb2,
	font-inverted-color: #ffffffdd,
	drawer-container-background: #222222,
	segment-content-background: #353535,
	segment-footer-background: #353535,
	dropdown-menu-background: #424242,
	dropdown-background: #424242,
	dropdown-menu-box-shadow: #353535,
	dropdown-item-background: #424242,
	dropdown-menu-item-hover-background: rgba(255, 255, 255, 0.05),
	menu-panel-background: #424242,
	autofill-box-shadow: #424242,
	input-background: #424242,
	input-color: #ffffff,
	input-border-color: #424242,
	modal-background: #353535,
	modal-icon-color: #ffffff,
	widget-header-background: #424242,
	select-content-background: #353535,
	icon-button-disabled-color: #ffffff42,
	paging-bar-color: #ffffff89,
	basic-button-color: #ffffff99,
	basic-button-hover-background: #353535,
	button-background: rgba(24, 25, 26, 1),
	button-color: #00000099,
	button-hover-background: #353535,
	button-filter-color: #ffffff99,
	menu-filters-background: #757575,
	table-button-background: #757575,
	tab-label-active-color: #ffffffdd,
	toggle-checkbox-before-background: rgba(255, 255, 255, 0.05),
	list-item-selected-background: #353535,
	list-item-selected-color: #ffffff,
	list-item-hover-background: rgba(36, 39, 41, 0.5),
	paging-box-shadow: rgba(34, 36, 38, 0.5),
	vertical-menu-background: #222222,
	loading-background: rgba(255, 255, 255, 0.1),
	widget-loading-background: #353535,
	tab-header-pagination-color: rgba(255, 255, 255, 0.87),
	tab-header-pagination-disabled-color: rgba(255, 255, 255, 0.38),
	mat-fab-box-shadow: rgba(20, 20, 20, 0.5),
	mat-mini-fab-box-shadow: rgba(20, 20, 20, 0.5),
	modal-header-border: rgba(234, 236, 238, 0.05),
	modal-actions-border: rgba(234, 236, 238, 0.05),
	cal-cell-row-background: rgba(36, 39, 41, 0.5),
	menu-submenu-icon-color: rgba(255, 255, 255, 0.54),
	account-background-value: 800,
	tab-label-active-background-value: 800,
	list-item-selected-background-value: 800,
	background-image: linear-gradient(to right bottom, #013f81, #005a92, #00778f, #00806a, #4c8a4f),
	50: #becacf,
	100: #94b4c5,
	200: #6a9fbb,
	300: #3e8ab3,
	400: #2078a7,
	500: #006ba5,
	600: #0067a7,
	700: #005a9b,
	800: #004e8d,
	900: #004085,
	A100: #deecff,
	A200: #abceff,
	A400: #78b1ff,
	A700: #5ea2ff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);
