<!-- zarządzanie panelami -->
<div class="ui fullscreen modal modal-manage-dashboards mrk-modal">
	<i class="close icon"></i>
	<h1 class="ui header mrk-modal-header">
		<div class="content">
			<span translate>Zarządzanie panelami</span>
			<div class="sub header">
				<span class="pad-left-xs" translate>skonfigurowanie paneli w aplikacji</span>
			</div>

			<div class="mrk-header-line"></div>
		</div>
	</h1>
	<div class="scrolling content mrk-modal-content"></div>
</div>
