<!-- zarządzanie użytkownikiem -->
<div class="ui small modal modal-{{ config.symbol }} mrk-modal">
	<i class="close icon"></i>
	<h1 class="ui header mrk-modal-header">
		<div class="content">
			<span translate>{{ dialogConfig.title }}</span>
			<div class="sub header">
				<span class="pad-left-xs" translate>{{ dialogConfig.meta }}</span>
			</div>

			<div class="mrk-header-line"></div>
		</div>
	</h1>
	<div class="scrolling content mrk-modal-content">
		<div class="ui basic segment"></div>
	</div>

	<div class="actions"></div>
</div>
