<!-- content dashboardu -->
<div class="mrk-content" [ngStyle]="{ height: !getToolbar ? 'calc(100% - 76px)' : 'calc(100% - 76px)' }">
	<div class="ui basic segment" style="z-index: 1; padding: 0; height: 100%">
		<ngx-widget-grid
			#grid
			[rows]="rows"
			[columns]="cols"
			[highlightNextPosition]="highlightNextPosition"
			[showGrid]="showGrid"
			(contextmenu)="onContextMenu($event)"
			(created)="onDrawn($event)"
			(gridFull)="onGridFull($event)"
			(widgetPositionChange)="onWidgetChange($event)"
		>
			<ngx-widget
				*ngFor="let widget of dashboard?.widgets | wfilter: [{ field: 'active', value: 'true' }]"
				[position]="widget.position"
				[movable]="editable"
				[resizable]="editable"
				[swapOnMove]="swapWidgets"
				(positionChange)="onPositionChange($event, widget)"
			>
				<div class="widget-content">
					<app-widget-container [widget]="widget" [refresh]="refresh"></app-widget-container>
				</div>
			</ngx-widget>
		</ngx-widget-grid>
	</div>
</div>
