/* You can add global styles to this file, and also import other style files */
@import './styles/app.scss';
@import './styles/theme.scss';
@import './styles/material.scss';
@import './styles/covalent.scss';
@import './styles/semantic.scss';
@import './styles/animations.scss';

@import '~@angular/cdk/overlay-prebuilt.css';

body {
	overflow: hidden !important;
	height: 100% !important;
}

.mrk-dialog-modal-backdrop {
	position: relative !important;
}

.mrk-modal-panel {
	position: relative !important;
}

.modal-connect-remote-desktop .ui.dimmer.modals {
	background: rgba(255, 255, 255, 0.5) !important;
}
