<div #mheader class="mrk-header">
	<div class="ui two column grid">
		<div class="left aligned four wide column">
			<div class="ui large secondary menu">
				<div class="item">
					<div class="ui logo shape">
						<div class="sides">
							<div class="ui active side">
								<h2 class="ui header">
									<span *ngIf="header?.icon" class="{{ header?.icon?.name }} {{ header?.icon?.color }} icon"></span>
									<div class="content">
										<span>{{ header?.title | translate }}</span>
										<div class="sub header">{{ header?.meta | translate }}</div>
										<div class="mrk-header-line"></div>
									</div>
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="right aligned twelve wide column" style="padding-top: 0" [ngStyle]="{ display: getToolbar ? 'unset' : 'none' }">
			<div class="ui icon top right pointing dropdown button dropdown-languages">
				<i class="world icon" style="margin-right: 0"></i>
				<span class="text" style="margin-left: 0.75em; margin-right: -0.5em"></span>

				<div class="menu transition hidden menu-languages">
					<div class="header" translate>Wyszukaj</div>
					<div class="ui icon search input">
						<i class="search icon"></i>
						<input type="text" placeholder="{{ 'Wyszukaj' | translate }}" />
					</div>

					<div class="scrolling menu" style="box-shadow: none !important; border-radius: 0 !important">
						<ng-template ngFor let-language let-last="last" [ngForOf]="languages">
							<div class="item" style="padding: 1em" [attr.data-value]="language.code">
								<i class="{{ language.flag }} flag"></i>
								<span class="description">{{ language.desc }}</span> <span class="name">{{ language.name }}</span>
							</div>
						</ng-template>
					</div>
				</div>
			</div>

			<span class="pad-left-xs pad-right-xs"></span>

			<div class="ui icon top right pointing dropdown button dropdown-themes">
				<i class="theme icon"></i>
				<span
					class="ui {{ dark ? defaultTheme + '-dark' : defaultTheme + '-light' }} theme-primary empty circular label"
					style="margin: 0.1em 0.25em 0 0.75em; vertical-align: top"
				></span>

				<div class="menu transition hidden menu-themes">
					<div class="header mrk-themes">
						<h4 class="ui inverted header">
							<div class="content">
								<span>Style aplikacji</span>
							</div>
						</h4>
					</div>
					<div class="scrolling menu" style="box-shadow: none !important; border-radius: 0 !important">
						<ng-template ngFor let-theme let-last="last" [ngForOf]="themes">
							<div class="item" style="padding: 1em" [attr.data-value]="theme">
								<div class="ui {{ dark ? theme + '-dark' : theme + '-light' }} theme-primary empty circular label"></div>
								<span>{{ theme }}</span>
							</div>
						</ng-template>
					</div>
					<div class="divider"></div>
					<div class="header">
						<div class="ui toggle checkbox checkbox-dark-theme" style="vertical-align: middle">
							<input type="checkbox" name="darktheme" [(ngModel)]="dark" />
							<label translate>Tryb nocny</label>
						</div>
					</div>
				</div>
			</div>

			<span class="pad-left-xs pad-right-xs"></span>

			<div class="ui icon top right pointing dropdown button dropdown-toolbar">
				<i class="columns icon"></i>

				<div class="menu transition hidden menu-toolbar">
					<div class="header mrk-toolbars">
						<h4 class="ui inverted header">
							<div class="content">
								<span>Toolbar</span>
							</div>
						</h4>
					</div>
					<div class="scrolling menu" style="box-shadow: none !important">
						<ng-template ngFor let-toolbar let-last="last" [ngForOf]="toolbars">
							<div class="item" style="padding: 1em" [attr.data-value]="toolbar">
								<span>{{ toolbar }}</span>
							</div>
						</ng-template>
					</div>
				</div>
			</div>

			<span class="pad-left-xs pad-right-xs"></span>

			<div class="ui icon top right pointing dropdown button dropdown-notifications">
				<i class="bell outline icon"></i>
				<div class="floating ui red circular small label mrk-label">22</div>

				<div class="menu transition hidden menu-notifications">
					<div class="header mrk-notifications">
						<h4 class="ui inverted header">
							<div class="content">
								<span>Powiadomienia</span>
								<span class="pad-left-sm" style="font-size: 14px; color: rgba(255 255 255 / 70%)">22</span>
							</div>
						</h4>
					</div>
					<!-- <div class="divider"></div> -->
					<div class="scrolling menu" style="box-shadow: none !important; border-radius: 0 !important">
						<div class="ui relaxed selection list">
							<ng-template ngFor let-notification let-i="index" let-last="last" [ngForOf]="notifications">
								<div class="item" style="padding: 1em; min-width: 256px">
									<i
										class="{{ notification.icon }} middle aligned icon"
										style="vertical-align: middle; padding-right: unset; font-size: 24px"
									></i>
									<div class="content">
										<div class="header">{{ notification.name }}</div>
										<div class="description" style="opacity: 0.5">{{ notification.date | date: 'dd-MM-yyyy HH:mm' }}</div>
									</div>
								</div>
							</ng-template>
						</div>
					</div>
					<div class="divider"></div>
					<a class="item" (click)="setSelected(dashboardType.NOTIFICATIONS)" style="text-align: center">Pokaż wszystkie</a>
				</div>
			</div>

			<span class="pad-left-sm pad-right-sm"></span>

			<div class="ui icon top right pointing dropdown button dropdown-settings" style="top: 1em">
				<div layout="row" layout-align="start center">
					<ngx-avatar *ngIf="userLogged?.photo; else elseBlock" size="36" cornerRadius="5" [round]="false" [src]="userLogged?.photo"></ngx-avatar>
					<ng-template #elseBlock>
						<ngx-avatar
							name="{{ userLogged?.fullName ? userLogged?.fullName : userLogged?.email }}"
							size="36"
							cornerRadius="10"
							[round]="false"
						></ngx-avatar>
					</ng-template>
					<span [fxShow]="isSizeHeader" class="text pad-left-md pad-right-md">{{
						userLogged?.fullName ? userLogged?.fullName : userLogged?.email
					}}</span>
				</div>
				<div class="menu transition hidden menu-settings">
					<div class="header mrk-settings">
						<h4 class="ui inverted header">
							<ngx-avatar
								*ngIf="userLogged?.photo; else elseBlock"
								class="ui image"
								size="48"
								cornerRadius="10"
								[round]="false"
								[src]="userLogged?.photo"
							></ngx-avatar>
							<ng-template #elseBlock>
								<ngx-avatar
									class="ui image"
									name="{{ userLogged?.fullName ? userLogged?.fullName : userLogged?.email }}"
									size="48"
									cornerRadius="5"
									[round]="false"
								></ngx-avatar>
							</ng-template>

							<div class="content" style="padding-left: 1.5em">
								<span>{{ userLogged?.fullName ? userLogged?.fullName : userLogged?.email }}</span>
								<div class="sub header">{{ userLogged?.email }}</div>
								<!-- <div class="extra" style="padding-top: 0.5em">
										<div class="ui small labels">
											<div class="ui primary label">
												<span translate>Administrator</span>
											</div>
										</div>
									</div> -->
							</div>
						</h4>
					</div>
					<div class="item" (click)="profile('data')">
						<i class="settings icon"></i>
						<span translate>Ustawienia konto</span>
					</div>
					<div class="item" (click)="profile('password')">
						<i class="edit icon"></i>
						<span translate>Zmiana hasła</span>
					</div>
					<div class="divider"></div>
					<div class="item" (click)="problem()">
						<i class="bug icon"></i>
						<span translate>Zgłoś problem</span>
					</div>
					<div class="divider"></div>
					<div class="item" (click)="lock()">
						<i class="user lock icon"></i>
						<span translate>Zablokuj</span>
					</div>
					<div class="item" (click)="logout()">
						<i class="sign out alternate icon"></i>
						<span translate>Wyloguj</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
