.mrk-header {
	padding: 1.25em 3.75em 0em 10em;
}

.dropdown-settings {
	padding: 0 !important;
}
.dropdown-languages {
	span.text {
		span.name {
			display: none !important;
		}
		span.description {
			display: none !important;
		}
	}
}

.ui.secondary.menu .item {
	align-self: end !important;
}
