<ngx-mremote-desktop [service]="service">
	<!-- Toolbar items -->
	<ngx-mremote-desktop-toolbar-item align="left" (click)="enterFullScreen()" *ngIf="!service.isFullScreen() && service.isConnected()">
		<i class="compress icon"></i>
		<span>Pełny ekran</span>
	</ngx-mremote-desktop-toolbar-item>
	<ngx-mremote-desktop-toolbar-item align="left" (click)="exitFullScreen()" *ngIf="service.isFullScreen() && service.isConnected()">
		<i class="undo icon"></i>
		<span>Powrót do okna</span>
	</ngx-mremote-desktop-toolbar-item>
	<ngx-mremote-desktop-toolbar-item align="left" *ngIf="service.isConnected()" (click)="screenshot()">
		<i class="image outline icon"></i>
		<span>Zrzut ekranu</span>
	</ngx-mremote-desktop-toolbar-item>
	<ngx-mremote-desktop-toolbar-item align="right" *ngIf="service.isConnected()" (click)="disconnect()">
		<i class="close icon"></i>
		<span>Rozłącz</span>
	</ngx-mremote-desktop-toolbar-item>

	<!-- Status bar -->
	<ngx-mremote-desktop-status-bar *ngIf="service.isConnected()">
		<ngx-mremote-desktop-status-bar-item>
			<span
				><span class="text-upper">[{{ widget.data.protocol }}]</span> {{ widget.settings.header }} [{{ widget.data.hostname }}]</span
			>
		</ngx-mremote-desktop-status-bar-item>
	</ngx-mremote-desktop-status-bar>
</ngx-mremote-desktop>
