<div class="ui small modal modal-changelog mrk-modal">
	<i class="close icon"></i>
	<h1 class="ui header mrk-modal-header">
		<div class="content">
			<span translate>{{ dialogConfig.title }}</span>
			<div class="sub header">
				<span class="pad-left-xs" translate>{{ dialogConfig.meta }}</span>
			</div>

			<div class="mrk-header-line"></div>
		</div>
	</h1>
	<div class="scrolling content mrk-modal-content">
		<div class="ui basic segment">
			<div class="ui comments">
				<ng-container *ngFor="let change of changes">
					<div class="comment">
						<a class="avatar">
							<i class="history icon"></i>
						</a>
						<div class="content">
							<a class="author">
								<div class="ui small label">
									<span>{{ change.version }}</span>
								</div>
							</a>
							<div class="metadata">
								<span class="date">
									<div class="ui small label">
										<span>{{ change.date }}</span>
									</div>
								</span>
							</div>
							<div class="text" style="padding: 1em">
								<ul class="ui celled ordered list">
									<ng-container *ngFor="let item of change.items">
										<li>{{ item }}</li>
									</ng-container>
								</ul>
							</div>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</div>
