<div id="widget-{{ widget.settings.type }}" style="height: 100%">
	<!-- sidebar parowania komponentu -->
	<div class="ui top vertical sidebar sidebar-pair-{{ widget.settings.type }}">
		<app-sidebar-pair [message]="message"></app-sidebar-pair>
	</div>

	<!-- content komponentu -->
	<div class="pusher" style="height: 100%; padding: 1em">
		<div class="widget-content">
			<ng-container [ngSwitch]="widget.type">
				<div *ngSwitchCase="'calendar'"></div>
				<div *ngSwitchCase="'map'"></div>
				<div *ngSwitchCase="'profile'"></div>
				<div *ngSwitchCase="'guacamole'" class="ui basic segment widget-header widget-shadow widget-header-border widget-header-color"></div>
				<div *ngSwitchCase="'table'">
					<div
						*ngIf="!widget.workInProgress"
						class="ui basic segment"
						layout="row"
						layout-align="center center"
						style="position: absolute; top: 1em; right: 1em"
					>
						<div layout="column" layout-align="start start"></div>

						<div layout="column" layout-align="start end" flex>
							<div layout="row">
								<!-- ustawienia komponentu -->
								<div class="ui icon right top pointing dropdown button dropdown-settings" style="background: transparent">
									<i class="cog icon settings-icon"></i>
									<div class="menu">
										<ng-container *ngFor="let menu of widgetMenuItems">
											<div class="item" (click)="menu.click()">
												<i class="{{ menu.icon }} icon"></i>
												<span translate>{{ menu.text }}</span> {{ menu.hidden }}
											</div>
										</ng-container>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div *ngIf="widget.workInProgress">
						<ng-container *ngTemplateOutlet="templateWorkInProgress"></ng-container>
					</div>
				</div>
				<div *ngSwitchCase="'default'" class="ui basic segment widget-header widget-shadow widget-header-border widget-header-color">
					<div class="ui basic segment" layout="row" layout-align="center center" style="padding: 1em 1em 0.5em 1em">
						<div layout="column" layout-align="start start">
							<h4 class="ui header">
								<i *ngIf="widget.settings.icon" class="{{ widget.settings.icon }} icon"></i>
								<div class="content">
									<span>{{ widget.settings.header | translate }}</span>
								</div>
							</h4>
						</div>

						<div layout="column" layout-align="start end" flex>
							<div layout="row">
								<!-- ustawienia komponentu -->
								<div class="ui icon right top pointing dropdown button dropdown-settings" style="background: transparent">
									<i class="cog icon settings-icon"></i>
									<div class="menu" style="z-index: 1">
										<ng-container *ngFor="let menu of widgetMenuItems">
											<div class="item" (click)="menu.click()">
												<i class="{{ menu.icon }} icon"></i>
												<span translate>{{ menu.text }}</span> {{ menu.hidden }}
											</div>
										</ng-container>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div *ngSwitchDefault>
					<ng-container *ngTemplateOutlet="templateWorkInProgress"></ng-container>
				</div>
			</ng-container>

			<div
				class="ui basic segment-content"
				[ngStyle]="{
					'box-shadow': type || widget.workInProgress ? 'rgba(0,0,0,.1) 0px 15px 25px -25px' : 'none',
					background: type || widget.workInProgress ? 'rgba(240,240,240,.25)' : 'transparent',
					height:
						widget.type === 'guacamole'
							? 'calc(100% - 12px)'
							: widget.type === 'table' && !widget.workInProgress
							? 'calc(100% - 12px)'
							: 'calc(100% - 69px)',
					'border-radius': widget.type === 'table' && !widget.workInProgress ? '10px 10px 0 0' : '0'
				}"
			>
				<ng-container
					*tdLoading="
						'overlay_' + widget.settings.type + '_' + widget.id;
						mode: 'indeterminate';
						type: 'circle';
						strategy: 'overlay';
						color: 'accent'
					"
				>
					<div
						class="widgets"
						[ngStyle]="{
							'overflow-y': type || widget.workInProgress ? 'auto' : 'unset',
							height: '100%'
						}"
					>
						<ng-template #container> Ładowanie </ng-template>
					</div>

					<div class="ui basic segment-footer"></div>
				</ng-container>
			</div>
		</div>
	</div>
</div>

<ng-template #templateWorkInProgress>
	<div class="ui basic segment widget-header widget-shadow widget-header-border" style="box-shadow: none !important; background: rgba(220, 220, 220, 0.1)">
		<div class="ui basic segment" layout="row" layout-align="center center" style="padding: 1em 1em 0.5em 1em">
			<div layout="column" layout-align="start end" flex>
				<div layout="row">
					<div class="ui icon right top pointing dropdown button dropdown-settings" style="background: transparent">
						<i class="cog icon settings-icon"></i>
						<div class="menu">
							<ng-container *ngFor="let menu of widgetMenuItems">
								<div class="item" (click)="menu.click()">
									<i class="{{ menu.icon }} icon"></i>
									<span translate>{{ menu.text }}</span> {{ menu.hidden }}
								</div>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>
