<div class="ui large modal modal-regulations mrk-modal">
	<i class="close icon"></i>
	<h1 class="ui header mrk-modal-header">
		<div class="content">
			<span translate>{{ dialogConfig.title }}</span>
			<div class="mrk-header-line"></div>
		</div>
	</h1>
	<div class="scrolling content mrk-modal-content">
		<div class="ui basic segment">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt,
				ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet
				finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit
				iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem.
				Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit
				volutpat. Donec viverra aliquet placerat. Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer
				euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta
				sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et
				ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel
				elementum lectus. Mauris hendrerit ut libero bibendum hendrerit. Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus.
				Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque
				egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices
				pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt. Praesent dictum tempus mauris, at
				molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis.
				Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar
				imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc
				ultrices consequat nisi in lacinia. Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec
				quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque
				egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis
				nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus
				mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis,
				facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt,
				ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet
				finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit
				iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem.
				Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit
				volutpat. Donec viverra aliquet placerat. Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer
				euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta
				sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et
				ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel
				elementum lectus. Mauris hendrerit ut libero bibendum hendrerit. Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus.
				Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque
				egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices
				pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt. Praesent dictum tempus mauris, at
				molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis.
				Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar
				imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc
				ultrices consequat nisi in lacinia. Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec
				quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque
				egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis
				nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus
				mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis,
				facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.
			</p>
		</div>
	</div>
</div>
