<!-- ustawienia menu bocznego -->
<div class="ui small modal modal-settings-menu mrk-modal">
	<i class="close icon"></i>
	<h1 class="ui header mrk-modal-header">
		<div class="content">
			<span translate>Ustawienia menu</span>
			<div class="sub header">
				<span class="pad-left-xs" translate>skonfigurowanie ustawień menu aplikacji</span>
			</div>

			<div class="mrk-header-line"></div>
		</div>
	</h1>
	<div class="scrolling content mrk-modal-content">
		<div class="ui basic segment">
			<form class="ui medium form form-settings-menu">
				<div class="ui basic">
					<div cdkDropList (cdkDropListDropped)="onDrop($event)" class="ui middle aligned divided selection list">
						<ng-template ngFor let-dashboard let-last="last" [ngForOf]="dashboards">
							<div cdkDrag cdkDragBoundary=".ui.list.item" cdkDragLockAxis="y" class="item" style="padding: 1em 0.5em; cursor: default">
								<div class="right floated content">
									<button
										class="ui icon {{ dashboard.favourite === 'show' ? 'primary' : '' }} button"
										(click)="onChangeMenu(dashboard)"
										[disabled]="
											dashboard.favourite === 'hide'
												? !((dashboards | wfilter: [{ field: 'favourite', value: 'show' }]).length < 5)
												: false
										"
										[matTooltip]="(dashboard.favourite === 'show' ? 'Ukryj' : 'Pokaż') | translate"
										[matTooltipPosition]="'after'"
										style="border-radius: 10px"
									>
										<i class="{{ dashboard.favourite === 'show' ? 'eye' : 'eye slash' }} icon"></i>
									</button>
									<!-- <div class="ui icon button"
                                        [matTooltip]="'Edycja' | translate"
                                        [matTooltipPosition]="'after'">

                                    <i class="pencil icon"></i>
                                </div> -->
								</div>
								<i cdkDragHandle class="icon" style="cursor: grab; vertical-align: middle">
									<span class="mdi mdi-drag mdi-24px"></span>
								</i>
								<div class="content">
									<span class="header">{{ dashboard.name }}</span>
									<div class="description">{{ dashboard.description }}</div>
								</div>
							</div>
						</ng-template>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
