<ng-container [ngSwitch]="layout">
	<app-start-page-minimal *ngSwitchCase="'minimal'">
		<ng-container *ngTemplateOutlet="template" content></ng-container>
	</app-start-page-minimal>
	<app-start-page-compact *ngSwitchCase="'compact'">
		<ng-container *ngTemplateOutlet="template" content></ng-container>
	</app-start-page-compact>

	<app-start-page-full *ngSwitchDefault>
		<ng-container *ngTemplateOutlet="template" content></ng-container>
	</app-start-page-full>
</ng-container>

<ng-template #template>
	<div class="ui basic">
		<form class="ui medium form form-login" onsubmit="return false;">
			<div class="ui basic">
				<h1 class="ui header">
					<div class="content">
						<span translate>login.welcome_title</span>
						<div class="sub header">
							<span class="pad-left-xs" translate>login.welcome_desc</span>
						</div>

						<div class="mrk-header-line"></div>
					</div>
				</h1>

				<div class="size-height-12"></div>

				<div class="field required">
					<label>
						<span translate>login.form.username</span>
					</label>
					<div class="ui left icon input">
						<i class="at icon"></i>
						<input name="userName" [(ngModel)]="userName" placeholder="{{ 'Nazwa użytkownika' | translate }}" type="text" />
					</div>
				</div>
				<div class="field required">
					<label translate>login.form.password</label>
					<div class="ui left icon input">
						<i class="unlock icon"></i>
						<input name="password" [(ngModel)]="password" placeholder="{{ 'Hasło' | translate }}" type="password" />
					</div>
				</div>

				<div class="size-height-6"></div>

				<div class="field" style="text-align: right">
					<a [routerLink]="['/password/reminder']">
						<i class="icon unlock"></i>
						<span translate>login.form.reminder</span>
					</a>
				</div>

				<!-- <div *ngIf="error" class="ui basic segment" style="padding: 0">
					<div class="ui icon negative message">
						<div class="content">
							<p *ngIf="error.message" translate>{{ error.message }}</p>
							<ul *ngIf="error.errors" class="list">
								<ng-template ngFor let-err let-last="last" [ngForOf]="error.errors">
									<li translate>{{ err.message }}</li>
								</ng-template>
							</ul>
						</div>
					</div>
				</div>

				<div class="ui error message"></div> -->

				<div class="size-height-12"></div>

				<button class="ui fluid primary button" (click)="loginPasswordFlow()" style="box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1)">
					<span translate>login.form.signin</span>
				</button>
			</div>
		</form>

		<div class="size-height-12"></div>

		<div class="ui horizontal divider">
			<span translate>common.or</span>
		</div>

		<h5 class="ui header">
			<div class="content">
				{{ 'Zaloguj przez' | translate }}
				<div class="sub header">{{ 'zewnętrzne konto' | translate }}</div>
			</div>
		</h5>
		<div class="ui horizontal">
			<button class="ui button mrk-button-provider" [ngClass]="'windows'" [matTooltip]="'Domena windows' | translate" (click)="loginDomainFlow()">
				<i class="icon windows"></i>
				<span>Windows</span>
			</button>

			<span class="pad-sm"></span>

			<ng-template ngFor let-provider let-last="last" [ngForOf]="loginSocialProviders">
				<button
					class="ui icon button mrk-button-provider"
					[ngClass]="provider.class"
					[matTooltip]="provider.name"
					(click)="loginAuthorizationCode(provider.key)"
				>
					<i class="icon {{ provider.icon }}"></i>
				</button>
				<span *ngIf="!last" class="size-height-12"></span>
			</ng-template>
		</div>

		<div class="size-height-12"></div>
	</div>
</ng-template>
