<!-- zarządzanie użytkownikiem -->
<div class="ui large modal modal-manage-user mrk-modal">
	<i class="close icon"></i>
	<h1 class="ui header mrk-modal-header">
		<div class="content">
			<span translate>{{ dialogConfig.title }}</span>
			<div class="sub header">
				<span class="pad-left-xs" translate>{{ dialogConfig.meta }}</span>
			</div>

			<div class="mrk-header-line"></div>
		</div>
	</h1>

    <!-- loading -->
    <div id="loading" class="mrk-loading">
        <div class="ui grid">
            <div class="sixteen wide column">
                <div *tdLoading="'modalSyntax'; type: 'linear'; mode: 'indeterminate'; color: 'primary'"></div>
            </div>
        </div>
    </div>

	<div class="scrolling content mrk-modal-content">
		<div class="ui basic segment mrk-account">
			<div class="ui centered grid">
				<div class="sixteen wide column">
					<div layout="row" layout-align="start start">
						<h3 class="ui header">
							<ngx-avatar
								*ngIf="user?.photo; else elseBlock"
								class="ui image"
								size="72"
								cornerRadius="10"
								[round]="false"
								[src]="user?.photo"
							></ngx-avatar>
							<ng-template #elseBlock>
								<ngx-avatar
									class="ui image"
									name="{{ user?.fullName ? user?.fullName : user?.email }}"
									size="72"
									cornerRadius="10"
									[round]="false"
								></ngx-avatar>
							</ng-template>

							<div class="content" style="padding-left: 1.25em">
								<div layout="row" layout-align="start center" flex>
									<span class="ui text" style="padding-left: 0.8em">{{ user?.fullName ? user?.fullName : user?.email }}</span>
								</div>

								<div class="size-height-12"></div>

								<div class="sub header" style="padding-left: 0.5em">
									<div class="ui label"><i class="at icon"></i> {{ user?.email }}</div>
									<!-- <div *ngIf="user?.phoneNumber" class="ui label"><i class="phone icon"></i> {{ user?.phoneNumber }}</div> -->
									<div class="ui label"><i class="circle green icon"></i> {{ 'online' | translate }}</div>
								</div>
							</div>
						</h3>

						<div layout="row" layout-align="end end" flex>
							<ng-template ngFor let-stat let-i="index" let-last="last" [ngForOf]="stats">
								<div class="ui tiny grey statistic" style="margin: 0; padding: 0 2em">
									<div class="label tc-grey-400" style="padding-bottom: 0.1em; text-align: left">
										<span style="font-size: 75%">{{ stat.name | translate }}</span>
									</div>
									<div class="value">
										<!-- <i class="{{stat.icon}} icon"></i> -->
										<span style="font-size: 50%">{{ stat.value }}</span>
										<div style="margin-top: 0em; width: 1em; border-bottom: 0.2em solid rgba(38, 166, 154, 1)"></div>
									</div>
								</div>
							</ng-template>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui basic segment mrk-segment">
			<form class="ui form form-manage-user">
				<div class="ui equal width grid">
					<div class="column">
						<mat-tab-group #tabGroup animationDuration="0" [selectedIndex]="selectedIndex" (selectedTabChange)="onChangeTab($event)">
							<ng-template ngFor let-step let-last="last" [ngForOf]="steps">
								<mat-tab label="{{ step.label | translate }}">
									<ng-template ngFor let-segment let-last="last" [ngForOf]="step.segments">
										<div class="ui basic segment segment-header">
											<h3 class="ui header">
												<div class="content">
													<span translate>{{ segment.header }}</span>
													<div class="sub header" translate>{{ segment.description }}</div>
												</div>
											</h3>
										</div>

										<div class="ui basic segment segment-content" style="max-width: 75%">
											<!-- Message -->
											<div *ngIf="segment.message as message" class="ui icon message">
												<i class="exclamation circle icon"></i>
												<div class="content">
													<div class="header" translate>{{ message.header }}</div>
													<p translate>{{ message.description }}</p>
												</div>
											</div>

											<div *ngIf="segment.message" class="size-height-12"></div>

											<ng-template ngFor let-field let-last="last" [ngForOf]="segment.fields">
												<ng-container [ngSwitch]="field.type">
													<div class="ui column middle aligned grid">
														<div class="sixteen wide row">
															<div class="six wide column">
																<div class="field" [ngClass]="{ required: field.rules }">
																	<label class="tc-grey-600" translate>{{ field.label }}</label>
																</div>
															</div>
															<div class="ten wide column">
																<div class="field" [ngClass]="{ required: field.rules }">
																	<!-- Text -->
																	<ng-container *ngSwitchCase="formFieldType.TEXT">
																		<div class="ui input">
																			<input
																				[name]="field.name"
																				(change)="field.onChange(field)"
																				type="text"
																				[placeholder]="'Wprowadź' | translate"
																			/>
																		</div>
																	</ng-container>
																	<!-- TextArea -->
																	<ng-container *ngSwitchCase="formFieldType.TEXTAREA">
																		<div class="ui input">
																			<textarea
																				[name]="field.name"
																				(change)="field.onChange(field)"
																				placeholder="{{ field.label | translate }}"
																			></textarea>
																		</div>
																	</ng-container>
																	<!-- Password -->
																	<ng-container *ngSwitchCase="formFieldType.PASSWORD">
																		<div class="ui input">
																			<input
																				[name]="field.name"
																				(change)="field.onChange(field)"
																				type="password"
																				[placeholder]="'Wprowadź' | translate"
																			/>
																		</div>
																	</ng-container>
																	<!-- Email -->
																	<ng-container *ngSwitchCase="formFieldType.EMAIL">
																		<div class="ui input">
																			<input
																				[name]="field.name"
																				(change)="field.onChange(field)"
																				type="email"
																				[placeholder]="'Wprowadź' | translate"
																			/>
																		</div>
																	</ng-container>
																	<!-- Number -->
																	<ng-container *ngSwitchCase="formFieldType.NUMBER">
																		<div class="ui input">
																			<input
																				[name]="field.name"
																				(change)="field.onChange(field)"
																				type="number"
																				[placeholder]="'Wprowadź' | translate"
																			/>
																		</div>
																	</ng-container>
																	<!-- PhoneNumber -->
																	<ng-container *ngSwitchCase="formFieldType.PHONE_NUMBER">
																		<div class="ui input">
																			<input
																				[name]="field.name"
																				(change)="field.onChange(field)"
																				type="number"
																				[placeholder]="'Wprowadź' | translate"
																			/>
																		</div>
																	</ng-container>
																	<!-- Checkbox -->
																	<ng-container *ngSwitchCase="formFieldType.CHECKBOX">
																		<div class="ui middle aligned divided list">
																			<div class="item">
																				<div class="right floated content">
																					<div class="ui toggle checkbox checkbox-{{ field.symbol }}">
																						<label class="tc-grey-600" translate>TAK</label>
																						<input type="checkbox" [name]="field.name" />
																					</div>
																				</div>
																			</div>
																		</div>
																	</ng-container>
																	<!-- Dropdown Single -->
																	<ng-container *ngSwitchCase="formFieldType.DICTIONARY_SINGLE">
																		<div class="ui fluid normal selection dropdown dropdown-{{ field.symbol }}">
																			<input type="hidden" [name]="field.name" />
																			<i class="dropdown icon"></i>
																			<div class="default text" translate>{{ field.label }}</div>
																			<div class="menu">
																				<ng-template ngFor let-item let-last="last" [ngForOf]="field.items">
																					<div class="item" [attr.data-value]="item.value">
																						{{ item.name }}
																					</div>
																				</ng-template>
																			</div>
																		</div>
																	</ng-container>
																	<!-- Dropdown Multi -->
																	<ng-container *ngSwitchCase="formFieldType.DICTIONARY_MULTI">
																		<div class="ui fluid multiple normal selection dropdown dropdown-{{ field.symbol }}">
																			<input type="hidden" [name]="field.name" />
																			<i class="dropdown icon"></i>
																			<span class="default text">{{ field.label }}</span>
																			<div class="menu">
																				<ng-template ngFor let-item let-last="last" [ngForOf]="field.items">
																					<div class="item" [attr.data-value]="item.value">
																						{{ item.name }}
																					</div>
																				</ng-template>
																			</div>
																		</div>
																	</ng-container>
																</div>

																<!-- Hints -->
																<div *ngIf="field.hints" class="ui message">
																	<ul class="list mat-small">
																		<ng-template ngFor let-hint let-last="last" [ngForOf]="field.hints">
																			<li translate>{{ hint }}</li>
																		</ng-template>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</ng-container>
											</ng-template>
										</div>
									</ng-template>
								</mat-tab>
							</ng-template>
						</mat-tab-group>

						<!-- <div *ngIf="error" class="ui basic segment segment-content">
							<div class="ui icon negative message">
								<div class="content">
									<p *ngIf="error.message" translate>{{ error.message }}</p>
									<ul *ngIf="error.errors" class="list">
										<ng-template ngFor let-err let-last="last" [ngForOf]="error.errors">
											<li translate>{{ err.message }}</li>
										</ng-template>
									</ul>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="actions">
		<button
			*ngIf="steps[selectedIndex]?.symbol === 'user-password'"
			type="button"
			class="ui primary button"
			style="box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.1)"
		>
			<i class="key icon"></i>
			<span translate>Generuj hasło</span>
		</button>

		<button class="ui button" (click)="onBackForm()">
			<i class="cancel icon"></i>
			<span translate>Anuluj</span>
		</button>

		<button
			*ngIf="steps[selectedIndex]?.symbol !== 'user-security' && steps[selectedIndex]?.symbol !== 'user-account-deactive'"
			type="button"
			class="ui primary button"
			[ngClass]="{ loading: loading }"
			style="box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1)"
			(click)="onSaveForm(tabGroup)"
			[disabled]="loading"
		>
			<i class="check icon"></i>
			<span translate>Zatwierdź</span>
		</button>

		<button
			*ngIf="steps[selectedIndex]?.symbol === 'user-security'"
			type="button"
			class="ui primary button"
			style="box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1)"
		>
			<span translate>Włącz</span>
		</button>

		<button
			*ngIf="steps[selectedIndex]?.symbol === 'user-account-deactive'"
			type="button"
			class="ui red button"
			style="box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1)"
		>
			<span translate>Deaktywacja</span>
		</button>
	</div>
</div>
