<td-layout>
	<div class="mrk-start-page">
		<div class="ui middle aligned center aligned grid" style="margin: 0">
			<div class="column">
				<div class="ui container">
					<div class="ui aligned grid mrk-languages">
						<div class="two wide column"></div>

						<div class="two wide column"></div>

						<div class="right aligned ten wide column">
							<div class="ui icon top right pointing dropdown right floated button dropdown-layouts">
								<i class="columns icon"></i>
								<span class="text" style="margin-left: 0.75em"></span>

								<div class="menu transition hidden menu-layouts">
									<div class="header mrk-layouts">
										<h4 class="ui inverted header">
											<div class="content">
												<span>Layouts</span>
											</div>
										</h4>
									</div>
									<div class="scrolling menu" style="box-shadow: none !important">
										<ng-template ngFor let-layout let-last="last" [ngForOf]="layouts">
											<div class="item" style="padding: 1em" [attr.data-value]="layout">
												<span>{{ layout }}</span>
											</div>
										</ng-template>
									</div>
								</div>
							</div>

							<span class="pad-left-xs pad-right-xs"></span>

							<div class="ui icon top right pointing dropdown right floated button dropdown-themes">
								<i class="theme icon"></i>
								<span
									class="ui {{ dark ? defaultTheme + '-dark' : defaultTheme + '-light' }} theme-primary empty circular label"
									style="margin: 0.1em 0.25em 0 0.75em; vertical-align: top"
								></span>

								<div class="menu transition hidden menu-themes">
									<div class="header mrk-themes">
										<h4 class="ui inverted header">
											<div class="content">
												<span>Style aplikacji</span>
											</div>
										</h4>
									</div>
									<div class="scrolling menu" style="box-shadow: none !important; border-radius: 0 !important">
										<ng-template ngFor let-theme let-last="last" [ngForOf]="themes">
											<div class="item" style="padding: 1em" [attr.data-value]="theme">
												<div class="ui {{ dark ? theme + '-dark' : theme + '-light' }} theme-primary empty circular label"></div>
												<span>{{ theme }}</span>
											</div>
										</ng-template>
									</div>
									<div class="divider"></div>
									<div class="header">
										<div class="ui toggle checkbox checkbox-dark-theme" style="vertical-align: middle">
											<input type="checkbox" name="darktheme" [(ngModel)]="dark" />
											<label translate>Tryb nocny</label>
										</div>
									</div>
								</div>
							</div>

							<span class="pad-left-xs pad-right-xs"></span>

							<!-- <div class="ui floating dropdown labeled search icon button languages dropdown-languages"> -->
							<div class="ui icon top right pointing dropdown right floated button dropdown-languages">
								<i class="world icon" style="margin-right: 0"></i>
								<span class="text" style="margin-left: 0.75em; margin-right: -0.5em"></span>

								<div class="menu transition hidden menu-languages">
									<div class="header" translate>Wyszukaj</div>
									<div class="ui icon search input">
										<i class="search icon"></i>
										<input type="text" placeholder="{{ 'Wyszukaj' | translate }}" />
									</div>

									<ng-template ngFor let-language let-last="last" [ngForOf]="languages">
										<div class="item" style="padding: 1em" [attr.data-value]="language.code">
											<i class="{{ language.flag }} flag"></i>
											<span class="description">{{ language.desc }}</span> <span class="name">{{ language.name }}</span>
										</div>
									</ng-template>
								</div>
							</div>
						</div>

						<div class="two wide column"></div>
					</div>
					<div class="ui raised segment mrk-page">
						<div class="ui two column stackable left aligned grid">
							<div class="column mrk-title">
								<img src="assets/images/wasko.svg" class="mrk-wasko" />

								<h1 class="ui left aligned header mrk-header">
									<img src="assets/images/173782.png" class="ui circular image" style="display: none; width: 4em" />

									<div class="mrk-line"></div>

									<div class="content" style="padding: 0">
										<span class="ui text white" style="color: rgba(255, 255, 255, 0.7)" translate>common.app_title</span>
										<div class="sub header">
											<span style="color: rgba(255, 255, 255, 0.7)" translate>common.app_desc</span>
										</div>
									</div>
								</h1>

								<div class="ui basic left aligned segment mrk-version">
									<div class="ui small label">
										<span>{{ system.date }}</span>
									</div>
									<div class="ui small label">
										<span>{{ system.version }}</span>
									</div>
									<div class="ui small label">
										<span>{{ system.type }}</span>
									</div>
								</div>

								<div class="ui basic left aligned segment mrk-footer">
									<!-- <div class="ui secondary tertiary button" (click)="modalRegulations()">
									<span translate>common.buttons.regulations</span>
								</div> -->
									<div class="ui secondary tertiary button" (click)="modalPolicy()">
										<span translate>common.buttons.policy</span>
									</div>
									<!-- <div class="ui secondary tertiary button" (click)="modalCookie()">
									<span translate>common.buttons.cookie</span>
								</div> -->
									<div class="ui secondary tertiary button" (click)="modalContact()">
										<span translate>common.buttons.contact</span>
									</div>
								</div>
							</div>

							<div class="column mrk-select-content">
								<div class="size-height-6"></div>

								<div class="ui basic segment mrk-style">
									<div button class="ui basic clearing segment" style="padding: 0">
										<div *ngIf="!userLock; else userLockTemplate" class="ui basic right floated segment" style="padding: 0">
											<div
												class="ui tertiary button"
												[ngClass]="{ active: activeLink('/login') }"
												[routerLink]="['/login']"
												style="margin: 0 !important"
											>
												<span translate>common.buttons.signin</span>
											</div>
											<span style="padding: 0 0.5em"></span>
											<div
												class="ui tertiary button"
												[ngClass]="{ active: activeLink('/register') }"
												[routerLink]="['/register']"
												style="margin: 0 !important"
											>
												<span translate>common.buttons.signup</span>
											</div>
										</div>

										<ng-template #userLockTemplate>
											<div class="ui basic right floated segment" style="padding: 0">
												<div class="ui tertiary button" (click)="logout()" style="margin: 0 !important">
													<span translate>Wyloguj</span>
												</div>
											</div>
										</ng-template>

										<div class="size-height-12"></div>
									</div>
								</div>

								<div class="ui basic mrk-content">
									<ng-content select="[content]"></ng-content>
								</div>

								<div class="size-height-24"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</td-layout>
