<form class="ui form form-{{ formConfig.symbol }}">
	<mat-tab-group #tabGroup animationDuration="0" [selectedIndex]="selectedIndex" (selectedTabChange)="changeTab($event)">
		<ng-template ngFor let-step let-last="last" [ngForOf]="steps">
			<mat-tab label="{{ step.label | translate }}">
				<ng-template ngFor let-segment let-last="last" [ngForOf]="step.segments">
					<div class="ui basic segment segment-header">
						<h3 class="ui header">
							<div class="content">
								<span translate>{{ segment.header }}</span>
								<div class="sub header" translate>{{ segment.description }}</div>
							</div>
						</h3>
					</div>

					<div *ngIf="error" class="ui basic segment" style="padding: 0">
						<div class="ui icon negative message">
							<div class="content">
								<p *ngIf="error.message" translate>{{ error.message }}</p>
								<ul *ngIf="error.errors" class="list">
									<ng-template ngFor let-err let-last="last" [ngForOf]="error.errors">
										<li translate>{{ err.message }}</li>
									</ng-template>
								</ul>
							</div>
						</div>
					</div>

					<div class="ui basic segment segment-content">
						<ng-template ngFor let-field let-last="last" [ngForOf]="segment.fields">
							<ng-container [ngSwitch]="field.type">
								<div class="ui column middle aligned grid">
									<div class="sixteen wide row">
										<div class="six wide column">
											<div class="field" [ngClass]="{ required: field.rules }">
												<label class="tc-grey-600" translate>{{ field.label }}</label>
											</div>
										</div>
										<div class="ten wide column">
											<div class="field" [ngClass]="{ required: field.rules }">
												<!-- Text -->
												<ng-container *ngSwitchCase="formFieldType.TEXT">
													<div class="ui input">
														<input
															[name]="field.name"
															(change)="field.onChange(field)"
															type="text"
															[placeholder]="'Wprowadź' | translate"
														/>
													</div>
												</ng-container>
												<!-- TextArea -->
												<ng-container *ngSwitchCase="formFieldType.TEXTAREA">
													<div class="ui input">
														<textarea
															[name]="field.name"
															(change)="field.onChange(field)"
															placeholder="{{ field.label | translate }}"
														></textarea>
													</div>
												</ng-container>
												<!-- Password -->
												<ng-container *ngSwitchCase="formFieldType.PASSWORD">
													<div class="ui input">
														<input
															[name]="field.name"
															(change)="field.onChange(field)"
															type="password"
															[placeholder]="'Wprowadź' | translate"
														/>
													</div>
												</ng-container>
												<!-- Email -->
												<ng-container *ngSwitchCase="formFieldType.EMAIL">
													<div class="ui input">
														<input
															[name]="field.name"
															(change)="field.onChange(field)"
															type="email"
															[placeholder]="'Wprowadź' | translate"
														/>
													</div>
												</ng-container>
												<!-- Number -->
												<ng-container *ngSwitchCase="formFieldType.NUMBER">
													<div class="ui input">
														<input
															[name]="field.name"
															(change)="field.onChange(field)"
															type="number"
															[placeholder]="'Wprowadź' | translate"
														/>
													</div>
												</ng-container>
												<!-- PhoneNumber -->
												<ng-container *ngSwitchCase="formFieldType.PHONE_NUMBER">
													<div class="ui input">
														<input
															[name]="field.name"
															(change)="field.onChange(field)"
															type="number"
															[placeholder]="'Wprowadź' | translate"
														/>
													</div>
												</ng-container>
												<!-- Checkbox -->
												<ng-container *ngSwitchCase="formFieldType.CHECKBOX">
													<div class="ui middle aligned divided list">
														<div class="item">
															<div class="right floated content">
																<div class="ui toggle checkbox checkbox-{{ field.symbol }}">
																	<label class="tc-grey-600" translate>TAK</label>
																	<input type="checkbox" [name]="field.name" />
																</div>
															</div>
														</div>
													</div>
												</ng-container>
												<!-- Dropdown Single -->
												<ng-container *ngSwitchCase="formFieldType.DICTIONARY_SINGLE">
													<div class="ui fluid normal selection dropdown dropdown-{{ field.symbol }}">
														<input type="hidden" [name]="field.name" />
														<i class="dropdown icon"></i>
														<div class="default text" translate>{{ field.label }}</div>
														<div class="menu">
															<ng-template ngFor let-item let-last="last" [ngForOf]="field.items">
																<div class="item" [attr.data-value]="item.value">
																	{{ item.name }}
																</div>
															</ng-template>
														</div>
													</div>
												</ng-container>
												<!-- Dropdown Multi -->
												<ng-container *ngSwitchCase="formFieldType.DICTIONARY_MULTI">
													<div class="ui fluid multiple normal selection dropdown dropdown-{{ field.symbol }}">
														<input type="hidden" [name]="field.name" />
														<i class="dropdown icon"></i>
														<span class="default text">{{ field.label }}</span>
														<div class="menu">
															<ng-template ngFor let-item let-last="last" [ngForOf]="field.items">
																<div class="item" [attr.data-value]="item.value">
																	{{ item.name }}
																</div>
															</ng-template>
														</div>
													</div>
												</ng-container>
											</div>

											<!-- Hints -->
											<div *ngIf="field.hints" class="ui message">
												<ul class="list mat-small">
													<ng-template ngFor let-hint let-last="last" [ngForOf]="field.hints">
														<li translate>{{ hint }}</li>
													</ng-template>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</ng-container>
						</ng-template>
					</div>
				</ng-template>
			</mat-tab>
		</ng-template>
	</mat-tab-group>
</form>
