<nav>
  <ul>
    <li><a routerLink="/mfe-dashboard">MfeDashboard</a></li>
    <li><a routerLink="/mfe-management">MfeManagement</a></li>
    <li><a routerLink="/mfe-games">MfeGames</a></li>
    <li><a routerLink="/mfe-reports">MfeReports</a></li>
    <li><a routerLink="/mfe-remote-desktop">MfeRemoteDesktop</a></li>
  </ul>
</nav>
