<ng-container [ngSwitch]="layout">
	<app-start-page-minimal *ngSwitchCase="'minimal'">
		<ng-container *ngTemplateOutlet="template" content></ng-container>
	</app-start-page-minimal>
	<app-start-page-compact *ngSwitchCase="'compact'">
		<ng-container *ngTemplateOutlet="template" content></ng-container>
	</app-start-page-compact>

	<app-start-page-full *ngSwitchDefault>
		<ng-container *ngTemplateOutlet="template" content></ng-container>
	</app-start-page-full>
</ng-container>

<ng-template #template>
	<div class="ui basic">
		<form class="ui medium form form-code" onsubmit="return false;">
			<div class="ui basic">
				<h1 class="ui header">
					<div class="content">
						<span translate>code.code_title</span>
						<div class="sub header">
							<span class="pad-left-xs" translate>code.code_desc</span>
						</div>

						<div class="mrk-header-line"></div>
					</div>
				</h1>

				<div class="size-height-12"></div>

				<p class="ui text" translate>code.desc</p>

				<div class="size-height-12"></div>

				<div class="field required">
					<label>
						<span translate>code.form.code</span>
					</label>
					<div class="ui left icon input">
						<i class="at icon"></i>
						<input name="email" [(ngModel)]="code" placeholder="{{ 'Kod' | translate }}" type="text" />
					</div>
				</div>

				<div *ngIf="success" class="ui basic segment" style="padding: 1em 0 0">
					<div class="ui icon positive message">
						<div class="content">
							<p *ngIf="success.message" translate>{{ success.message }}</p>
						</div>
					</div>
				</div>

				<div *ngIf="error" class="ui basic segment" style="padding: 1em 0 0">
					<div class="ui icon negative message">
						<div class="content">
							<p *ngIf="error.message" translate>{{ error.message }}</p>
							<ul *ngIf="error.errors" class="list">
								<ng-template ngFor let-err let-last="last" [ngForOf]="error.errors">
									<li translate>{{ err.message }}</li>
								</ng-template>
							</ul>
						</div>
					</div>
				</div>

				<div class="ui error message"></div>

				<div class="size-height-12"></div>

				<button class="ui fluid primary button" (click)="activate()" style="box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1)">
					<span translate>code.form.activate</span>
				</button>

				<div class="size-height-12"></div>

				<button class="ui fluid primary button" (click)="confirm()" style="box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1)">
					<span translate>code.form.confirm</span>
				</button>
			</div>
		</form>

		<div class="size-height-12"></div>
	</div>
</ng-template>
