<!-- panel boczny z konfiguracją dashboardu -->
<div class="sidebar-widgets-{{ dashboard?.type }}">
	<div class="ui width grid">
		<div class="sixteen wide column">
			<div class="ui basic segment">
				<h3 id="step-account" class="ui header">
					<div class="content">
						<span translate>common.dashboard.dashboard_title</span>
						<div class="sub header" translate [translateParams]="{ name: dashboard?.name }">common.dashboard.dashboard_desc</div>
					</div>
				</h3>

				<div class="size-height-12"></div>
			</div>

			<div class="ui basic segment" style="margin: 0">
				<div class="ui column middle aligned grid">
					<div class="row">
						<div class="ten wide column">
							<span class="tc-grey-600" translate>Tryb rozmieszczania komponentów</span>
						</div>
						<div class="right aligned six wide column">
							<!-- <div class="field">
                                <div class="ui toggle checkbox checkbox-widgets-move">
                                    <input type="checkbox" name="widgets-move">
                                </div>
                            </div> -->
							<button
								class="ui icon {{ editable ? 'primary' : '' }} button"
								[matTooltip]="(editable ? 'Wyłącz' : 'Włącz') | translate"
								[matTooltipPosition]="'before'"
								(click)="changeEditable()"
								style="border-radius: 10px"
							>
								<i class="{{ editable ? 'expand' : 'expand' }} icon"></i>
							</button>
						</div>
					</div>
					<div class="ui divider" style="margin: 0; border-width: 0.1em"></div>
					<div class="row">
						<div class="ten wide column">
							<span class="tc-grey-600" translate>Dostępne komponenty</span>
						</div>
						<div class="right aligned six wide column"></div>
					</div>
					<ng-template ngFor let-widget let-last="last" [ngForOf]="dashboard?.widgets">
						<div class="row" style="padding: 0">
							<div class="twelve wide column">
								<div class="item" style="padding-left: 0">
									<div class="content">
										<div class="header" translate>{{ widget.settings.header }}</div>
										<div class="extra tc-grey-400" translate>{{ widget.settings.description }}</div>
									</div>
								</div>
							</div>
							<div class="right aligned four wide column">
								<!-- <div class="field">
                                    <div class="ui toggle checkbox checkbox-widgets">
                                        <input type="checkbox"
                                            [(ngModel)]="widget.active"
                                            [name]="widget.settings.type"
                                            [disabled]="!widget.active && gridFull">
                                    </div>
                                </div> -->
								<button
									class="ui icon {{ widget.active ? 'primary' : '' }} button"
									(click)="changeWidgetSettings(widget)"
									[disabled]="!widget.active && gridFull && dashboard.widgets.length < 1"
									style="border-radius: 10px"
								>
									<i class="{{ widget.active ? 'eye' : 'eye slash' }} icon"></i>
								</button>
							</div>
						</div>
					</ng-template>
				</div>
			</div>

			<div class="ui divider" style="border-width: 0.2em"></div>
		</div>
	</div>
</div>
