.ui.vertical.steps {
	z-index: 1;
	// box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}
.ui.vertical.steps .step {
	margin: 0;
	border: none !important;
	border-radius: 0 !important;
}
.ui.vertical.steps .step:hover,
.ui.vertical.steps > .step:hover {
	background-color: rgba(236, 239, 241, 0.5) !important;
}
.ui.vertical.steps .step.active,
.ui.vertical.steps > .step.active {
	z-index: 3;
	box-shadow: -25px 0 25px -5px rgba(0, 0, 0, 0.1);
	background-color: white !important;
}
.ui.vertical.steps .step.active:last-child,
.ui.vertical.steps > .step.active:last-child {
	z-index: 3;
	box-shadow: -25px 0 25px -5px rgba(0, 0, 0, 0.1);
	background-color: white !important;
}
.ui.vertical.steps .step:last-child,
.ui.vertical.steps > .step:last-child {
	box-shadow: 0 10px 25px 10px white;
}

.ui.steps {
	z-index: 1;
	// box-shadow: 0 -5px 25px -15px rgb(0 0 0 / 10%);
}

.ui.steps .step {
	margin: 0 !important;
	border-radius: 0 !important;
	padding: 1.5em !important;
}

.stepper-header {
	padding: 0 !important;
}

.stepper-content {
	padding: 2em 1em 1em 3em !important;
}

.step-main {
	margin: 1em 0.5em;
}

.step-number {
	min-width: 42px;
	min-height: 42px;
	border-radius: 15%;
	z-index: 9;

	span {
		font-size: 18px;
		font-weight: bold;
	}
}

.step-label {
	padding-left: 18px;

	.text {
		font-weight: bold;
		font-size: 14px;
	}

	.desc {
		opacity: 0.5;
		font-size: 13px;
	}
}

.step-line {
	position: absolute;
	justify-content: center;
	width: 40px;
	height: 40px;
	transform: translate(50%, 90%);
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #e4e6ef;
	z-index: 8;
}

@media only screen and (max-width: 768px) {
	.stepper-header {
		display: none !important;
	}
}
