<div class="ui equal width grid">
	<div [fxShow]="visibleStepper" class="five wide column stepper-header" style="z-index: 1">
		<div class="ui basic segment" style="padding: 0">
			<ng-content select="[steps-content]"></ng-content>

			<div class="ui fluid mini vertical steps">
				<ng-template ngFor let-step let-last="last" let-i="index" [ngForOf]="stepsList">
					<div layout="row" layout-align="start center" class="step-main">
						<div *ngIf="selectedIndex > i" layout="column" layout-align="center center" class="step-number">
							<i class="check icon" style="margin: 0"></i>
						</div>
						<div
							*ngIf="selectedIndex <= i"
							layout="column"
							layout-align="center center"
							class="step-number"
							[ngClass]="{ active: selectedIndex === i }"
						>
							<span [ngClass]="{ active: selectedIndex === i }">{{ i + 1 }}</span>
						</div>
						<div layout="column" class="step-label">
							<span class="text" translate>{{ step.label }}</span>
							<span class="desc" translate>{{ step.description }}</span>
						</div>

						<div *ngIf="!last" class="step-line"></div>
					</div>
				</ng-template>
			</div>
		</div>
	</div>

	<div class="column stepper-content">
		<div [style.display]="selected ? 'block' : 'none'">
			<ng-container [ngTemplateOutlet]="selected.content"></ng-container>
		</div>
		<!-- <ng-template ngFor let-step let-last="last" let-i="index" [ngForOf]="stepsList">
            <div [style.display]="selectedIndex === i ? 'block' : 'none'">
                <ng-container [ngTemplateOutlet]="step.content"></ng-container>
            </div>
        </ng-template> -->
	</div>

	<div *ngIf="error" class="sixteen wide column">
		<div class="ui basic segment" style="padding: 0">
			<div class="ui negative message">
				<div class="content">
					<p *ngIf="error.message">{{ error.message }}</p>

					<ul *ngIf="error.errors" class="list">
						<ng-template ngFor let-err let-last="last" [ngForOf]="error.errors">
							<li translate>{{ err.message }}</li>
						</ng-template>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
