// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import '~@covalent/core/theming/all-theme';

// (optional) Additional themes
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';

@import 'carousel.scss';
@import 'modal.scss';
@import 'openlayer.scss';
@import 'widget.scss';

// scrollbar
::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
}
::-webkit-scrollbar-track {
	background: none !important;
	opacity: 0.6 !important;
	border-radius: 5px !important;
}
::-webkit-scrollbar-thumb {
	background: rgba(224, 224, 224, 1) !important;
	opacity: 0.8 !important;
	border-radius: 5px !important;
}

// default site
.mrk-main {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.mrk-router {
	height: 100%;
}
.mrk-loading {
	margin: 0 !important;
	padding: 0 !important;
	height: 0 !important;
	position: fixed;
	width: 100%;
	z-index: 1;
}
.mrk-header-line {
	margin-top: 0.2em;
	width: 5em;
	border-bottom-width: 0.1em;
	border-bottom-style: solid;
}
.mrk-content {
	padding: 0 3em 1em 3em;
}
.mrk-profile {
	margin: 0;
	position: sticky;
	top: 0;
	background: white;
	z-index: 3;
}

.submenu-left {
	margin-top: -0.5em;
	margin-left: 5em;
}

.submenu-top {
	margin-top: 3.5em;
}

.grid .row {
	margin: 0 !important;
}

// cdk-drag
.cdk-drag-preview {
	background-color: white;
	box-shadow: -25px 0 50px -10px rgba(0, 0, 0, 0.2), -5px 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);

	.right.floated {
		display: none;
	}
	.icon {
		display: table-cell;
		min-width: 1.55em;
		margin: 0;
		padding-top: 0;
		transition: color 0.1s ease;
		padding-right: 0.28571429em;
		vertical-align: top;
	}
	.content {
		display: table-cell;
		width: 100%;
		padding: 0 0 0 0.5em;
		vertical-align: top;
	}
	.header {
		display: block;
		margin: 0;
		font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-weight: 700;
		color: rgba(0, 0, 0, 0.87);
		line-height: 1.14285714em;
	}
	.description {
		display: block;
		color: rgba(0, 0, 0, 0.7);
		line-height: 1.14285714em;
	}
}

.cdk-global-scrollblock {
	overflow-y: hidden !important;
}

// angular calendar
.cal-month-view .cal-open-day-events {
	color: black !important;
	padding: 10px !important;
	margin-bottom: 1em;
	background-color: #fafafa !important;
	box-shadow: none !important;
	border-top: 0.1em solid #e0e0e0;
	border-bottom: 0.25em solid #b0bec5;
	overflow-y: auto;
	max-height: 200px;
}
.cal-month-view .cal-days {
	border-color: transparent !important;
	border: none !important;
}
.cal-month-view .cal-events {
	margin: 0 5px !important;
	line-height: normal !important;
	flex: 0 !important;
	display: block !important;
}
.cal-month-view .cal-cell-top {
	min-height: 32px !important;
}
.cal-month-view .cal-day-badge {
	background-color: rgba(144, 164, 174, 1) !important;
	margin-top: 12px !important;
	margin-left: 8px !important;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
	font-size: 1em !important;
	font-weight: bold !important;
}
.cal-month-view .cal-day-number {
	font-size: 1em !important;
	margin-top: 10px !important;
	margin-right: 10px !important;
	margin-bottom: 8px !important;
}
.cal-month-view .cal-cell-row {
	border-top: 1px solid #e1e1e1 !important;
}
.cal-month-view .cal-day-cell {
	min-height: 32px;
	width: 100px;
}
.cal-month-view .cal-day-cell:not(:last-child) {
	border-right: none !important;
}
.cal-week-view .cal-time-events .cal-event {
	line-height: 26px !important;
}
.cal-week-view .cal-event {
	color: black !important;
}
.cal-event-actions {
	position: relative;
	top: 4px;
	.material-icons {
		font-size: large !important;
		color: #4d6c8b !important;
	}
}
