div[td-sidenav-content] {
	&.mrk-sidenav {
		overflow: hidden;
	}
}
div[td-toolbar-content] {
	&.mrk-toolbar {
		position: sticky;
		top: 0;
		z-index: 3;
		box-shadow: 25px 0px 25px -5px rgba(0, 0, 0, 0.25), 0px 0px 0px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px 0px rgba(0, 0, 0, 0.25) !important;
		padding: 0.75em 3.75em 1em 3em;
		border-radius: 0 0 10px 10px;
	}
}
.td-layout-sidenav {
	border-right: none !important;
	box-shadow: 25px 0px 25px -25px rgba(0, 0, 0, 0.25), 0px 0px 0px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px 0px rgba(0, 0, 0, 0.25) !important;
}
.td-loading {
	backdrop-filter: blur(4px);
	min-height: 0 !important;
}
.td-loading-wrapper {
	min-height: 0 !important;
	height: 100% !important;
}
.td-file-input {
	background: none !important;
	box-shadow: none !important;
	padding: 0 !important;
	color: rgba(255, 255, 255, 0.6) !important;
	line-height: 18px !important;
}

.widget-content .td-loading {
	backdrop-filter: blur(0px) !important;
	height: calc(100% + 10px) !important;
}
.widget-content .widget-header ~ .segment-content .td-loading {
	border-radius: 0 0 10px 10px !important;
}
.widget-content :not([class*='widget-header']) ~ .segment-content .td-loading {
	border-radius: 10px !important;
}

.size-height-40 {
	height: 40px;
}
.size-height-168 {
	height: 168px;
}
