mat-nav-list.sidenav-menu {
	[mat-list-item] {
		display: block;
		border-left: 0px solid #ffffff;
		text-align: center;
		height: 56px !important;
		margin-top: 6px;
		margin-bottom: 8px;
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
	}
	[mat-list-item].selected {
		background: rgba(0 0 0 / 25%);
		box-shadow: 0 0 25px 0 rgba(26, 26, 26, 0.1);

		// &:before {
		//     z-index: 9;
		//     transform: translate(-6px, 12px);
		//     position: absolute;
		//     top: 0;
		//     left: 0;
		//     content: '';
		//     width: 12px;
		//     height: 32px;
		//     border-radius: 12%;
		// }
	}
	[mat-list-item]:link {
		background: none !important;
	}
	[mat-list-item]:hover {
		background: rgba(0 0 0 / 15%);
		// color: white !important;

		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;

		// &:before {
		// 	z-index: 9;
		// 	transform: translate(-6px, 12px);
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	content: '';
		// 	width: 12px;
		// 	height: 32px;
		// 	border-radius: 12%;
		// 	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
		// }
	}

	div[mat-list-item]:hover {
		background: rgba(240, 240, 240, 0.85);

		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
	}
}
mat-nav-list.toolbar-menu {
	[mat-list-item] {
		.mat-ripple-element {
			background: transparent !important;
		}

		display: block;
		border-left: 0px solid #ffffff;
		text-align: center;
		height: 40px !important;
		margin-top: 6px;
		margin-bottom: 8px;
		border-radius: 10px;
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
	}
	[mat-list-item].selected {
		background: rgba(0 0 0 / 25%);
		box-shadow: 0 0 25px 0 rgba(26, 26, 26, 0.1);

		// &:before {
		//     z-index: 9;
		//     transform: translate(-6px, 12px);
		//     position: absolute;
		//     top: 0;
		//     left: 0;
		//     content: '';
		//     width: 12px;
		//     height: 32px;
		//     border-radius: 12%;
		// }
	}
	[mat-list-item]:link {
		background: none !important;
		border-radius: 10px;
	}
	[mat-list-item]:hover {
		background: rgba(0 0 0 / 15%);
		border-radius: 10px;
		// color: white !important;

		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;

		// &:before {
		// 	z-index: 9;
		// 	transform: translate(-6px, 12px);
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	content: '';
		// 	width: 12px;
		// 	height: 32px;
		// 	border-radius: 12%;
		// 	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
		// }
	}

	div[mat-list-item]:hover {
		background: rgba(240, 240, 240, 0.85);
		border-radius: 10px;

		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
	}
}
mat-nav-list.sidenav-logo {
	[mat-list-item],
	[mat-list-item]:hover {
		background: rgba(100 100 100 / 10%);
		max-width: 264px;
		// border-right-width: 56px;
		// border-right-style: solid;
		// border-right-color: rgba(0 0 0 / 10%);
	}
}
mat-icon {
	opacity: 0.7;
}
.mat-list-item-content mat-icon[matListAvatar] {
	background: unset !important;
	margin-bottom: 0.25em;
	margin-left: 0.1em;
}
.mat-drawer {
	background: unset !important;
}
.mat-drawer-side {
	border-right: none !important;
}
.mat-nav-list .mat-list-item.mat-list-item-avatar {
	// height: 56px !important;
}
.mat-ink-bar {
	height: 0.3em !important;
}
.mat-tab-label:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.mat-tab-link:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.mat-menu-panel {
	box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1) !important;
}
.mat-tab-body-wrapper {
	overflow: initial !important;
}
.mat-tab-body.mat-tab-body-active {
	overflow-x: initial !important;
	overflow-y: initial !important;
}
.mat-tab-body-content {
	overflow: initial !important;
}
.mat-sort-header-content {
	text-align: left !important;
}
.mat-tab-header-pagination {
	box-shadow: none !important;
}
.mat-standard-chip {
	border-radius: 10px !important;
}
.mat-sidenav {
	border-radius: 0px 10px 10px 0px;
}

.mrk-more .mat-list-item-content {
	padding: 0 !important;
}

.sidenav-menu-account .mat-list-item .mat-list-item-content {
	justify-content: center !important;
}
.sidenav-menu-account .mrk-list-item-account {
	.mat-ripple-element {
		position: unset !important;
		margin-left: 6em !important;
		width: 82px !important;
		height: 80px !important;
		border-radius: 10px !important;
	}

	&:link,
	&:visited,
	&:hover,
	&:active {
		background: transparent !important;
	}
}
