@import '~@angular/material/theming';

@import '~@covalent/core/theming/all-theme';
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';

@import 'palette.scss';

$typography: mat-typography-config(
	$font-family: 'Roboto, monospace',
	$headline: mat-typography-level(32px, 48px, 700)
);

@include mat-core();

$themes-map: (
	style-default-light: (
		primary-base: $palette-default-light,
		accent-base: $palette-default-light
	),
	style-default-dark: (
		primary-base: $palette-default-dark,
		accent-base: $palette-default-dark
	),
	style-cm-light: (
		primary-base: $palette-cm-light,
		accent-base: $palette-cm-light
	),
	style-dg-light: (
		primary-base: $palette-dg-light,
		accent-base: $palette-dg-light
	),
	style-mb-light: (
		primary-base: $palette-mb-light,
		accent-base: $palette-mb-light
	),
	style-mk-light: (
		primary-base: $palette-mk-light,
		accent-base: $palette-mk-light
	),
	style-mm-light: (
		primary-base: $palette-mm-light,
		accent-base: $palette-mm-light
	),
	style-ts-light: (
		primary-base: $palette-ts-light,
		accent-base: $palette-ts-light
	),
	style-bb-light: (
		primary-base: $palette-bb-light,
		accent-base: $palette-bb-light
	),
	style-ag-light: (
		primary-base: $palette-ag-light,
		accent-base: $palette-ag-light
	),
	style-ms-light: (
		primary-base: $palette-ms-light,
		accent-base: $palette-ms-light
	),
	style-mw-light: (
		primary-base: $palette-mw-light,
		accent-base: $palette-mw-light
	),
	style-wm-light: (
		primary-base: $palette-wm-light,
		accent-base: $palette-wm-light
	),
	style-cm-dark: (
		primary-base: $palette-cm-dark,
		accent-base: $palette-cm-dark
	),
	style-dg-dark: (
		primary-base: $palette-dg-dark,
		accent-base: $palette-dg-dark
	),
	style-mb-dark: (
		primary-base: $palette-mb-dark,
		accent-base: $palette-mb-dark
	),
	style-mk-dark: (
		primary-base: $palette-mk-dark,
		accent-base: $palette-mk-dark
	),
	style-mm-dark: (
		primary-base: $palette-mm-dark,
		accent-base: $palette-mm-dark
	),
	style-ts-dark: (
		primary-base: $palette-ts-dark,
		accent-base: $palette-ts-dark
	),
	style-bb-dark: (
		primary-base: $palette-bb-dark,
		accent-base: $palette-bb-dark
	),
	style-ag-dark: (
		primary-base: $palette-ag-dark,
		accent-base: $palette-ag-dark
	),
	style-ms-dark: (
		primary-base: $palette-ms-dark,
		accent-base: $palette-ms-dark
	),
	style-mw-dark: (
		primary-base: $palette-mw-dark,
		accent-base: $palette-mw-dark
	),
	style-wm-dark: (
		primary-base: $palette-wm-dark,
		accent-base: $palette-wm-dark
	)
);

@mixin themed-stylesheets($mat-theme) {
	// We only need "primary-color" and "accent-color" in this example. So commented out other (not-necessary)
	// things. Uncomment each you need.

	$primary: mat-palette(map-get($mat-theme, primary), 600);
	$accent: mat-palette(map-get($mat-theme, accent), 400);
	// $warn: map-get($mat-theme, warn);

	$primary-color: mat-color($primary);
	$accent-color: mat-color($accent);
	// $warn-color: mat-color($warn);

	@include covalent-theme($mat-theme);

	@include covalent-markdown-theme($mat-theme);
	@include covalent-highlight-theme();

	// Define themed-stylesheets here:
	a {
		color: $primary-color;
		&:hover {
			color: $accent-color;
			cursor: pointer;
		}
	}

	.mrk-modal-content {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}

	.mrk-paging {
		margin: 0 !important;
		padding: 0.3em 0 !important;
		height: 56px;
		// background: rgba(255, 255, 255, 0.1);
		box-shadow: 0 -10px 20px -10px map-get(map-get($mat-theme, primary), 'paging-box-shadow');
		border-radius: 0 0 10px 10px;
	}

	// mrk css
	.mrk-header-line {
		border-bottom-color: $primary-color;
	}
	.mrk-line {
		border-bottom-color: rgba(255, 255, 255, 0.7);
	}
	.mrk-sidenav:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		// border-right: 0.25em solid ;
	}

	.mrk-title:before {
		border-right: 0.25em solid mat-color(mat-palette(map-get($mat-theme, primary), 200));
	}
	.mrk-start-page {
		background-image: map-get(map-get($mat-theme, primary), 'background-image');
	}
	.mrk-account {
		background: mat-color(mat-palette(map-get($mat-theme, primary), map-get(map-get($mat-theme, primary), 'account-background-value'))) !important;
		margin-top: -1em !important;
		margin-left: -3em !important;
		margin-right: -1em !important;
		padding: 2em 4em 1em 4em !important;
	}
	.mrk-title {
		border-left: 1em solid mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
	}
	.mrk-modal {
		border-left: 1em solid mat-color(mat-palette(map-get($mat-theme, primary), 600)) !important;
	}
	.mrk-modal i.close.icon {
		color: map-get(map-get($mat-theme, primary), 'modal-icon-color') !important;
	}
	.mrk-toolbars,
	.mrk-layouts,
	.mrk-notifications,
	.mrk-themes,
	.mrk-settings {
		min-width: 224px;
		padding: 2em !important;
		margin: 0 !important;
		border-radius: 5px 5px 0 0 !important;
		background-image: linear-gradient(
			to right top,
			mat-color(mat-palette(map-get($mat-theme, primary), 400)),
			mat-color(mat-palette(map-get($mat-theme, primary), 500)),
			mat-color(mat-palette(map-get($mat-theme, primary), 600)),
			mat-color(mat-palette(map-get($mat-theme, primary), 700)),
			mat-color(mat-palette(map-get($mat-theme, primary), 900))
		) !important;
	}
	.mrk-content {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.mrk-select-content {
		background: map-get(map-get($mat-theme, primary), 'select-content-background') !important;
	}
	.mrk-checkbox-field .dock-r {
		&:before {
			border-right: 6px solid mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
		}
	}
	.mrk-auth {
		height: 100%;
		// background-image: map-get(map-get($mat-theme, primary), 'background-image');
	}
	.mrk-options {
		.ui.button {
			color: #fff !important;
			background: transparent !important;

			&:focus {
				background: mat-color(mat-palette(map-get($mat-theme, primary), 600)) !important;
			}
			&:hover {
				background: mat-color(mat-palette(map-get($mat-theme, primary), 600)) !important;
			}
		}
	}
	.mrk-button {
		color: #fff !important;
		background: transparent !important;

		&:focus {
			background: mat-color(mat-palette(map-get($mat-theme, primary), 600)) !important;
		}
		&:hover {
			background: mat-color(mat-palette(map-get($mat-theme, primary), 600)) !important;
		}
	}
	.mrk-button-sidenav {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;
	}

	@media only screen and (max-width: 768px) {
		.mrk-select-content {
			border-top: 1em solid mat-color(mat-palette(map-get($mat-theme, primary), 400));
		}
	}

	.step-label {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.step-number {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 50));

		i,
		span {
			color: mat-color(mat-palette(map-get($mat-theme, primary), 400));
		}
	}
	.step-number.active {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 400));
	}
	.step-number span.active {
		color: white;
	}

	.dropdown-toolbar,
	.dropdown-layouts,
	.dropdown-filters,
	.dropdown-export,
	.dropdown-settings,
	.dropdown-languages,
	.dropdown-themes,
	.dropdown-notifications {
		z-index: 9;
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
		background: map-get(map-get($mat-theme, primary), 'dropdown-background') !important;
		border-radius: 10px;

		&:focus {
			color: rgba(0, 0, 0, 0.6) !important;
		}
		&:hover {
			color: mat-color(mat-palette(map-get($mat-theme, primary), 900)) !important;
			background: mat-color(mat-palette(map-get($mat-theme, primary), 300)) !important;
		}
	}

	.menu-toolbar::after,
	.menu-layouts::after,
	.menu-notifications::after,
	.menu-themes::after,
	.menu-settings::after,
	.menu-account::after {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 900)) !important;
	}
	.menu-filters {
		background: map-get(map-get($mat-theme, primary), 'menu-filters-background') !important;
		border-radius: 10px;

		&:focus {
			color: rgba(0, 0, 0, 0.6) !important;
		}
		&:hover {
			color: mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
			background: mat-color(mat-palette(map-get($mat-theme, primary), 300)) !important;
		}
	}

	.button-dash {
		background-color: mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
		&:hover {
			background-color: mat-color(mat-palette(map-get($mat-theme, primary), 300)) !important;
		}
	}
	.button-filter {
		background: transparent !important;
		color: map-get(map-get($mat-theme, primary), 'button-filter-color') !important;
		i.icon {
			font-size: 1.2em;
		}
		i.icon.active {
			color: mat-color(mat-palette(map-get($mat-theme, primary), 900)) !important;
		}
		i.icon.empty {
			opacity: 0.3 !important;
		}
	}

	.steps .title {
		color: mat-color(mat-palette(map-get($mat-theme, primary), 800)) !important;
	}

	.stepper-divider {
		margin: 0;
		border-top: 0.25em solid mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;
	}

	.accordion-divider {
		margin-top: 1em;
		border-top: 0.25em solid mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;
	}

	// segment css
	.segment-filters {
		border-top: 0.5em solid mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;

		h3 {
			i.icon {
				color: $primary-color !important;
			}
		}

		[td-chip-avatar] {
			background-color: $primary-color !important;
		}
	}
	.segment-header {
		padding: 1em 0 !important;
	}
	.segment-subheader {
		padding: 1em 0 !important;
	}
	.segment-content {
		margin: 0;
		padding: 0;
		background: map-get(map-get($mat-theme, primary), 'segment-content-background') !important;
	}
	.segment-pair {
		border-left: 1em solid mat-color(mat-palette(map-get($mat-theme, primary), 600)) !important;
		border-radius: 10px !important;
		margin: 2em auto !important;
		max-width: 28rem !important;
		min-height: 6rem !important;
		box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%) !important;
	}
	.segment-footer {
		height: 10px !important;
		background: map-get(map-get($mat-theme, primary), 'segment-footer-background') !important;
		border-radius: 0 0 10px 10px !important;
	}
	.sidebar-pair {
		border-top: 4px solid mat-color(mat-palette(map-get($mat-theme, primary), 100));
		border-bottom: 4px solid mat-color(mat-palette(map-get($mat-theme, primary), 100));
	}

	// table css
	.table-info {
		h3 {
			span.text-count {
				color: mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;
			}
		}

		.table-info-line {
			margin-top: 0em;
			border-bottom-width: 0.2em;
			border-bottom-style: solid;
			border-bottom-color: mat-color(mat-palette(map-get($mat-theme, primary), 200));
		}
	}
	.table-header {
		margin: 0 !important;
		// box-shadow: 0 -5px 25px -5px rgba(0, 0, 0, 0.1) !important;
		// background-color: mat-color(mat-palette(map-get($mat-theme, primary), 50)) !important;
	}
	.table-divider {
		position: sticky;
		top: 0;
		margin: 0 !important;
		border-top: 2px solid mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;
		z-index: 1;
	}
	.table-list {
		overflow-y: overlay;
		scrollbar-width: thin;
		margin: 0 !important;

		.ui.tertiary.button {
			margin-left: 0.5em !important;
			margin-right: 0.5em !important;
			color: rgba(97, 97, 97, 1) !important;
			&:hover {
				box-shadow: inset 0 -0.4em 0 rgba(97, 97, 97, 1) !important;
			}
		}
	}
	.table-button {
		background: map-get(map-get($mat-theme, primary), 'table-button-background') !important;
		border-radius: 10px;
		&:hover {
			background: mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
		}
	}
	.table-short-list {
		margin: 0;
		padding: 0;
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
	}
	.table-active-filters {
		position: sticky;
		top: 0;
		padding: 0.75em 4em 0.75em;
		margin: 0;
		border-top: 1px solid rgba(34, 36, 38, 0.15) !important;
		background: white !important;
		height: 56px !important;
		z-index: 1;
	}
	.table-active-filters::before {
		position: absolute;
		z-index: 2;
		content: '';
		top: 0;
		right: 2em;
		background-color: white !important;
		width: 18px;
		height: 18px;
		border-style: solid;
		border-color: rgba(34, 36, 38, 0.15);
		border-width: 0 0 1px 1px;
		transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
		transform: translateY(-50%) translateX(50%) rotate(-45deg);
	}

	// semantic css
	.ui.secondary.menu a.item {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 50)) !important;
	}
	.ui.label.primary {
		background-color: $primary-color !important;
	}
	.ui.button {
		// background-color: map-get(map-get($mat-theme, primary), 'button-background') !important;
		// color: map-get(map-get($mat-theme, primary), 'button-color') !important;
	}
	.ui.button.primary {
		background-color: $primary-color;
		&:hover {
			background-color: $accent-color;
		}
		&:active {
			background-color: $primary-color;
		}
		&:visited {
			background-color: $primary-color;
		}
		&:focus {
			background-color: $primary-color;
		}
	}
	.ui.tertiary.button {
		margin-left: 1em !important;
		margin-right: 1em !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;

		&:hover {
			padding-left: 0 !important;
			padding-right: 0 !important;
			box-shadow: inset 0 -0.5em 0 mat-color(mat-palette(map-get($mat-theme, primary), 900)) !important;
		}
	}
	.ui.tertiary.button.active {
		padding-left: 0 !important;
		padding-right: 0 !important;
		box-shadow: inset 0 -0.5em 0 mat-color(mat-palette(map-get($mat-theme, primary), 600)) !important;
	}
	.ui.toggle.checkbox input:checked ~ .box:before,
	.ui.toggle.checkbox input:checked ~ label:before {
		background-color: $primary-color !important;
	}
	.ui.toggle.checkbox input:focus:checked ~ .box:before,
	.ui.toggle.checkbox input:focus:checked ~ label:before {
		background-color: $primary-color !important;
	}
	.ui.selection.list .list > .item.selected:before,
	.ui.selection.list > .item.selected:before {
		content: '';
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
	}
	.ui.selection.short.list .list > .item.selected:before,
	.ui.selection.short.list > .item.selected:before {
		content: '';
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
	}
	.ui.selection.short.list .list > .item:hover,
	.ui.selection.short.list > .item:hover {
		background-color: rgba(236, 239, 241, 0.5) !important;
	}
	.ui.selection.short.list .list > .item.selected,
	.ui.selection.short.list > .item.selected {
		position: relative;
		// box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.1);
	}
	.ui.selection.short.list .list > .item.selected:last-child,
	.ui.selection.short.list > .item.selected:last-child {
		// box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.1);
	}
	.ui.selection.short.list .list > .item:last-child,
	.ui.selection.short.list > .item:last-child {
		// box-shadow: 0 20px 25px 10px rgba(255, 255, 255, 1);
	}
	.ui.selection.list .list > .item:hover,
	.ui.selection.list > .item:hover {
		background: map-get(map-get($mat-theme, primary), 'list-item-hover-background') !important;
	}
	.ui.selection.list .list > .item.selected,
	.ui.selection.list > .item.selected {
		position: relative;
		background: mat-color(
			mat-palette(map-get($mat-theme, primary), map-get(map-get($mat-theme, primary), 'list-item-selected-background-value'))
		) !important;
	}
	.ui.selection.list .list > .item.selected:last-child,
	.ui.selection.list > .item.selected:last-child {
		// box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.1);
	}
	.ui.selection.list .list > .item:last-child,
	.ui.selection.list > .item:last-child {
		// box-shadow: 0 20px 25px 10px rgba(255, 255, 255, 1);
	}
	.ui.vertical.steps .step.active:before,
	.ui.vertical.steps > .step.active:before {
		content: '';
		position: absolute;
		height: 100%;
		left: -7px;
	}
	.ui.steps .step.active,
	.ui.steps > .step.active {
		background-color: mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
	}
	.ui.steps .step.active::after {
		background-color: mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
	}
	.ui.steps .step.active {
		box-shadow: 15px 0 25px -5px mat-color(mat-palette(map-get($mat-theme, primary), 100));
	}
	.ui.comments .comment .text {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.ui.list li:before {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}

	app-start-page-compact .mrk-start-page {
		.ui.header,
		.sub.header {
			color: white !important;
		}
		.ui.form .field > label {
			color: white !important;
		}
		.ui.form .ui.toggle.checkbox label {
			color: white !important;
		}
		.ui.divider {
			color: white !important;
		}
		.ui.tertiary.button {
			color: white !important;
		}
	}

	.ui.inverted.header,
	.ui.inverted.header .sub.header {
		color: map-get(map-get($mat-theme, primary), 'font-inverted-color') !important;
	}
	.ui.header,
	.ui.items .header,
	.ui.items .extra,
	.sub.header,
	.ui.list > .item .header,
	.ui.list > .item .description,
	.ui.list > .item > .content {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.ui.menu .item {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.ui.dropdown .menu,
	.ui.dropdown .menu > .header,
	.ui.dropdown .menu > .item {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.ui.dropdown .menu {
		background: map-get(map-get($mat-theme, primary), 'dropdown-menu-background') !important;
	}
	.ui.dropdown .menu > .item:hover {
		background: map-get(map-get($mat-theme, primary), 'dropdown-menu-item-hover-background') !important;
	}
	.ui.pointing.dropdown > .menu:not(.hidden):after {
		background: map-get(map-get($mat-theme, primary), 'dropdown-menu-background');
		// background: mat-color(mat-palette(map-get($mat-theme, primary), 900)) !important;
	}
	.ui.form input,
	.ui.form textarea {
		background: map-get(map-get($mat-theme, primary), 'input-background') !important;
		border-color: map-get(map-get($mat-theme, primary), 'input-border-color') !important;
		color: map-get(map-get($mat-theme, primary), 'input-color') !important;
	}
	.ui.form input:active,
	.ui.form input:hover,
	.ui.form textarea:active,
	.ui.form textarea:hover,
	.ui.form .ui.dropdown:active,
	.ui.form .ui.dropdown:hover {
		background: map-get(map-get($mat-theme, primary), 'input-background') !important;
		border-color: map-get(map-get($mat-theme, primary), 'input-border-color') !important;
	}
	.ui.form input:focus,
	.ui.form textarea:focus,
	.ui.form .ui.dropdown:focus {
		border-color: mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
	}
	.ui.form .field.field input:-webkit-autofill,
	.ui.form .field.field input:-webkit-autofill:hover,
	.ui.form .field.field input:-webkit-autofill:focus {
		box-shadow: 0 0 0 100px map-get(map-get($mat-theme, primary), 'autofill-box-shadow') inset !important;
		// border-color: map-get(map-get($mat-theme, primary), 'input-border-color') !important;
		-webkit-text-fill-color: map-get(map-get($mat-theme, primary), 'input-color') !important;
	}
	.ui.form .dropdown {
		background: map-get(map-get($mat-theme, primary), 'input-background') !important;
		border-color: map-get(map-get($mat-theme, primary), 'input-border-color') !important;
		color: map-get(map-get($mat-theme, primary), 'input-color') !important;
	}
	.ui.form .dropdown .menu {
		color: map-get(map-get($mat-theme, primary), 'input-color') !important;
		border: none !important;
		box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.1) !important;
	}
	.ui.form .dropdown .menu .selected.item {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 700)) !important;
	}
	.ui.form .dropdown .menu > .item:active {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 700)) !important;
	}
	.ui.form .dropdown .menu > .item:hover {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 700)) !important;
	}
	.ui.form .field.error .ui.dropdown .item {
		background: map-get(map-get($mat-theme, primary), 'dropdown-item-background') !important;
		color: map-get(map-get($mat-theme, primary), 'input-color') !important;
	}
	.ui.form .field.error .ui.dropdown .item:active {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 700)) !important;
	}
	.ui.form .field.error .ui.dropdown .item:hover {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 700)) !important;
	}
	.ui.form .field.error input,
	.ui.form .field.error input:hover,
	.ui.form .field.error textarea,
	.ui.form .field.error textarea:hover,
	.ui.form .field.error .ui.dropdown,
	.ui.form .field.error .ui.dropdown:hover {
		border-color: mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
	}
	.ui.form .field .prompt.label {
		color: white !important;
		background: mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
		border-color: mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;

		&:before {
			content: '';
			margin-top: initial;
			margin-left: 0;
			position: absolute;
			top: initial;
			left: initial;
			right: 24px;
			bottom: -6px;
			border-top: 6px solid mat-color(mat-palette(map-get($mat-theme, primary), 400));
			border-bottom: initial;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			width: 12px;
			height: 6px;
		}
	}
	.ui.form .field > label {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.ui.toggle.checkbox input:checked ~ label {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.ui.modal {
		background: map-get(map-get($mat-theme, primary), 'modal-background') !important;
	}
	.ui.modal > .header {
		background: map-get(map-get($mat-theme, primary), 'modal-background') !important;
		border-bottom: 1px solid map-get(map-get($mat-theme, primary), 'modal-header-border') !important;
	}
	.ui.modal > .content {
		background: map-get(map-get($mat-theme, primary), 'modal-background') !important;
	}
	.ui.modal > .actions {
		border-top: 1px solid map-get(map-get($mat-theme, primary), 'modal-actions-border') !important;
	}
	.ui.basic.button {
		color: map-get(map-get($mat-theme, primary), 'basic-button-color') !important;
	}
	.ui.basic.button:hover {
		background: map-get(map-get($mat-theme, primary), 'basic-button-hover-background') !important;
	}
	.ui.toggle.checkbox label {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.ui.toggle.checkbox label:before {
		background: map-get(map-get($mat-theme, primary), 'toggle-checkbox-before-background') !important;
	}
	.ui.input > input {
		background: map-get(map-get($mat-theme, primary), 'input-background') !important;
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.ui.pointing.dropdown .menu {
		box-shadow: 0px 0px 25px 0 map-get(map-get($mat-theme, primary), 'dropdown-menu-box-shadow') !important;
	}
	.ui.divider {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.ui.vertical.menu {
		background: map-get(map-get($mat-theme, primary), 'vertical-menu-background') !important;
	}

	// todo: problem z ustawieniem koloru progressbara
	.toast-box > .attached.progress .bar {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
	}

	// covalent css
	.mat-fab:not([class*='mat-elevation-z']) {
		color: #fff !important;
		box-shadow: 0 0 25px -5px map-get(map-get($mat-theme, primary), 'mat-fab-box-shadow') !important;
	}
	.mat-mini-fab:not([class*='mat-elevation-z']) {
		color: #fff !important;
		box-shadow: 0 0 25px -5px map-get(map-get($mat-theme, primary), 'mat-mini-fab-box-shadow') !important;
	}
	.mat-drawer-container {
		background: map-get(map-get($mat-theme, primary), 'drawer-container-background') !important;
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.mat-ink-bar {
		background-color: mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;
	}
	.mat-tab-nav-bar,
	.mat-tab-header {
		border-bottom: 3px solid mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
	}

	[mat-list-item] .mat-list-item-content mat-icon[matListAvatar] {
		color: white !important;
	}
	[mat-list-item] {
		color: white !important;
	}
	[mat-list-item]:hover {
		background: rgba(0, 0, 0, 0.1) !important;
	}
	[mat-list-item].selected:before {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 600));
		box-shadow: 0 0 10px 0 mat-color(mat-palette(map-get($mat-theme, primary), 600));
	}
	[mat-list-item].selected:hover .mat-list-item-content mat-icon[matListAvatar] {
		// color: map-get(map-get($mat-theme, primary), 'list-item-selected-color') !important;
	}
	[mat-list-item].selected .mat-list-item-content mat-icon[matListAvatar] {
		// color: map-get(map-get($mat-theme, primary), 'list-item-selected-color') !important;
	}
	[mat-list-item].selected {
		// background: map-get(map-get($mat-theme, primary), 'list-item-selected-background') !important;
		// color: map-get(map-get($mat-theme, primary), 'list-item-selected-color') !important;
	}
	[mat-menu-item].selected {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
	}
	[mat-menu-item]:hover {
		background: rgba(0, 0, 0, 0.1) !important;
	}
	.mat-menu-panel {
		background: map-get(map-get($mat-theme, primary), 'menu-panel-background') !important;
	}
	.mat-menu-item .mat-icon-no-color {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.mat-menu-item {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.mat-icon-button.mat-button-disabled.mat-button-disabled {
		color: map-get(map-get($mat-theme, primary), 'icon-button-disabled-color') !important;
	}
	.mat-tab-label {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
	.mat-tab-label-active {
		background-color: mat-color(
			mat-palette(map-get($mat-theme, primary), map-get(map-get($mat-theme, primary), 'tab-label-active-background-value'))
		) !important;
		color: map-get(map-get($mat-theme, primary), 'tab-label-active-color') !important;
	}
	.mat-tab-header-pagination-chevron {
		border-color: map-get(map-get($mat-theme, primary), 'tab-header-pagination-color') !important;
	}
	.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
		border-color: map-get(map-get($mat-theme, primary), 'tab-header-pagination-disabled-color') !important;
	}
	.mat-menu-submenu-icon {
		color: map-get(map-get($mat-theme, primary), 'menu-submenu-icon-color') !important;
	}

	div[td-toolbar-content] {
		&.mrk-toolbar {
			background-image: linear-gradient(
				to right,
				mat-color(mat-palette(map-get($mat-theme, primary), 400)),
				mat-color(mat-palette(map-get($mat-theme, primary), 500)),
				mat-color(mat-palette(map-get($mat-theme, primary), 600)),
				mat-color(mat-palette(map-get($mat-theme, primary), 700)),
				mat-color(mat-palette(map-get($mat-theme, primary), 900))
			);
		}
	}

	div[td-sidenav-content] {
		&.mrk-sidenav {
			background-image: linear-gradient(
				to bottom,
				mat-color(mat-palette(map-get($mat-theme, primary), 400)),
				mat-color(mat-palette(map-get($mat-theme, primary), 500)),
				mat-color(mat-palette(map-get($mat-theme, primary), 600)),
				mat-color(mat-palette(map-get($mat-theme, primary), 700)),
				mat-color(mat-palette(map-get($mat-theme, primary), 900))
			);
		}
	}

	td-paging-bar {
		color: map-get(map-get($mat-theme, primary), 'paging-bar-color') !important;
	}

	.td-loading {
		background: map-get(map-get($mat-theme, primary), 'loading-background') !important;
	}

	.widget-content .td-loading {
		background: map-get(map-get($mat-theme, primary), 'widget-loading-background') !important;
	}

	// widgets css
	.wg-resize-axis {
		background-color: mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
	}
	.wg-resize-diag {
		border-color: mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
	}
	.widget-header {
		margin: 0;
		padding: 0;
		z-index: 1;

		border-radius: 10px 10px 0 0 !important;
		box-shadow: 0 0 25px -15px rgb(0 0 0 / 20%) !important;
		background: map-get(map-get($mat-theme, primary), 'widget-header-background') !important;

		h4 {
			i.icon {
				color: $primary-color !important;
			}
		}
		.settings {
			.settings-icon {
				color: $primary-color !important;
			}
			&:hover {
				background-color: $primary-color !important;
				.settings-icon {
					color: white !important;
				}
			}
		}
	}
	.widget-header-border {
		// border-top: 0.3em solid mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;
	}

	// ngx-avatar
	.avatar-content {
		background-color: mat-color(mat-palette(map-get($mat-theme, primary), 600)) !important;
		// box-shadow: 0 0 0 2px mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
	}
	.dropdown-account .avatar-content {
		// box-shadow: 0 0 0 2px mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
	}
	.dropdown-settings .avatar-content {
		// box-shadow: 0 0 0 2px mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
	}

	// openlayers css
	.ol-scale-line {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 600)) !important;
	}

	// cdk css
	i.cdk-drag-handle.icon {
		color: mat-color(mat-palette(map-get($mat-theme, primary), 600)) !important;
	}

	// calendar
	.cal-month-view {
		background: transparent !important;
	}
	.cal-month-view .cal-day-cell.cal-today {
		background: mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
	}
	.cal-month-view .cal-cell-row:hover {
		background: map-get(map-get($mat-theme, primary), 'cal-cell-row-background') !important;
	}
	.cal-month-view .cal-cell-row .cal-cell:hover,
	.cal-month-view .cal-cell.cal-has-events.cal-open {
		background: transparent !important;
	}

	// snake
	.game-header {
		color: map-get(map-get($mat-theme, primary), 'font-color') !important;
	}
}

// Import the module and do the job:
@import '~angular-material-dynamic-themes/themes-core';
@include make-stylesheets($themes-map);
