.wg-widget-content {
	overflow: unset !important;
	padding: 0 !important;
}
.widget-content {
	height: 100% !important;
}
.widgets {
	scrollbar-width: thin;
	height: 100% !important;
}
.segment-widgets {
	padding: 0 !important;
}
