<div class="ui modal modal-add-user mrk-modal">
	<i class="close icon"></i>
	<h1 class="ui header mrk-modal-header">
		<div class="content">
			<span translate>{{ dialogConfig.title }}</span>
			<div class="sub header">
				<span class="pad-left-xs" translate>{{ dialogConfig.meta }}</span>
			</div>

			<div class="mrk-header-line"></div>
		</div>
	</h1>
	<div class="scrolling content mrk-modal-content">
		<div class="ui basic segment">
			<form class="ui form form-add-user">
				<app-stepper-custom #stepper [steps]="steps" [error]="error" [selectedIndex]="selectedIndex" (selectionChange)="onChangeStep($event)">
					<ng-template ngFor let-step let-last="last" [ngForOf]="steps">
						<cdk-step>
							<ng-template ngFor let-segment let-last="last" [ngForOf]="step.segments">
								<div class="ui basic segment segment-content">
									<ng-template ngFor let-field let-last="last" [ngForOf]="segment.fields">
										<ng-container [ngSwitch]="field.type">
											<div class="ui column middle aligned grid">
												<div class="sixteen wide row">
													<div class="column">
														<div class="field" [ngClass]="{ required: field.rules }">
															<!-- Label -->
															<label class="tc-grey-600" translate>{{ field.label }}</label>

															<!-- Text -->
															<ng-container *ngSwitchCase="formFieldType.TEXT">
																<div class="ui input">
																	<input
																		[name]="field.name"
																		(change)="field.onChange(field)"
																		type="text"
																		[placeholder]="'Wprowadź' | translate"
																	/>
																</div>
															</ng-container>
															<!-- TextArea -->
															<ng-container *ngSwitchCase="formFieldType.TEXTAREA">
																<div class="ui input">
																	<textarea
																		[name]="field.name"
																		(change)="field.onChange(field)"
																		placeholder="{{ field.label | translate }}"
																	></textarea>
																</div>
															</ng-container>
															<!-- Password -->
															<ng-container *ngSwitchCase="formFieldType.PASSWORD">
																<div class="ui input">
																	<input
																		[name]="field.name"
																		(change)="field.onChange(field)"
																		type="password"
																		[placeholder]="'Wprowadź' | translate"
																	/>
																</div>
															</ng-container>
															<!-- Email -->
															<ng-container *ngSwitchCase="formFieldType.EMAIL">
																<div class="ui input">
																	<input
																		[name]="field.name"
																		(change)="field.onChange(field)"
																		type="email"
																		[placeholder]="'Wprowadź' | translate"
																	/>
																</div>
															</ng-container>
															<!-- Number -->
															<ng-container *ngSwitchCase="formFieldType.NUMBER">
																<div class="ui input">
																	<input
																		[name]="field.name"
																		(change)="field.onChange(field)"
																		type="number"
																		[placeholder]="'Wprowadź' | translate"
																	/>
																</div>
															</ng-container>
															<!-- PhoneNumber -->
															<ng-container *ngSwitchCase="formFieldType.PHONE_NUMBER">
																<div class="ui input">
																	<input
																		[name]="field.name"
																		(change)="field.onChange(field)"
																		type="number"
																		[placeholder]="'Wprowadź' | translate"
																	/>
																</div>
															</ng-container>
															<!-- Checkbox -->
															<ng-container *ngSwitchCase="formFieldType.CHECKBOX">
																<div class="ui middle aligned divided list">
																	<div class="item">
																		<div class="right floated content">
																			<div class="ui toggle checkbox checkbox-{{ field.symbol }}">
																				<label class="tc-grey-600" translate>TAK</label>
																				<input type="checkbox" [name]="field.name" />
																			</div>
																		</div>

																		<div class="content">
																			<div class="description" translate>{{ field.meta }}</div>
																		</div>
																	</div>
																</div>

																<div *ngIf="!last" style="margin: 0; border-top: 1px dashed #e0e0e0"></div>
															</ng-container>
															<!-- Dropdown Single -->
															<ng-container *ngSwitchCase="formFieldType.DICTIONARY_SINGLE">
																<div class="ui fluid normal selection dropdown dropdown-{{ field.symbol }}">
																	<input type="hidden" [name]="field.name" />
																	<i class="dropdown icon"></i>
																	<div class="default text" translate>{{ field.label }}</div>
																	<div class="menu">
																		<ng-template ngFor let-item let-last="last" [ngForOf]="field.items">
																			<div class="item" [attr.data-value]="item.value">
																				{{ item.name }}
																			</div>
																		</ng-template>
																	</div>
																</div>
															</ng-container>
															<!-- Dropdown Multi -->
															<ng-container *ngSwitchCase="formFieldType.DICTIONARY_MULTI">
																<div class="ui fluid multiple normal selection dropdown dropdown-{{ field.symbol }}">
																	<input type="hidden" [name]="field.name" />
																	<i class="dropdown icon"></i>
																	<span class="default text">{{ field.label }}</span>
																	<div class="menu">
																		<ng-template ngFor let-item let-last="last" [ngForOf]="field.items">
																			<div class="item" [attr.data-value]="item.value">
																				{{ item.name }}
																			</div>
																		</ng-template>
																	</div>
																</div>
															</ng-container>
														</div>

														<!-- Hints -->
														<div *ngIf="field.hints" class="ui message">
															<ul class="list mat-small">
																<ng-template ngFor let-hint let-last="last" [ngForOf]="field.hints">
																	<li translate>{{ hint }}</li>
																</ng-template>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</ng-container>
									</ng-template>
								</div>
							</ng-template>
						</cdk-step>
					</ng-template>
				</app-stepper-custom>
			</form>
		</div>
	</div>

	<div class="actions">
		<button
			*ngIf="steps[stepper.selectedIndex].symbol === 'user-password'"
			type="button"
			class="ui primary button"
			style="box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.1)"
		>
			<i class="key icon"></i>
			<span translate>Generuj hasło</span>
		</button>

		<button class="ui button" (click)="onBackForm()">
			<i class="cancel icon"></i>
			<span translate>Anuluj</span>
		</button>

		<button *ngIf="stepper.selectedIndex > 0" type="button" class="ui button" (click)="onPreviousStep(stepper)">
			<i class="arrow left icon"></i>
			<span translate>Cofnij</span>
		</button>
		<button
			*ngIf="stepper.selectedIndex < steps.length - 1"
			type="button"
			class="ui button"
			style="box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.1)"
			(click)="onNextStep(stepper)"
		>
			<span translate>Dalej</span>
			<i class="arrow right icon"></i>
		</button>

		<button
			*ngIf="stepper.selectedIndex === steps.length - 1"
			type="button"
			class="ui primary button"
			[ngClass]="{ loading: loading }"
			style="box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.1)"
			(click)="onSaveForm(stepper)"
			[disabled]="loading"
		>
			<i class="check icon"></i>
			<span translate>Zatwierdź</span>
		</button>
	</div>
</div>
